@model Slug.Model.DialogMessage
@using Slug.Extensions;

<div class="dialog_msg">
    <img src="@Model.AvatarPath" height="45" width="45" /><span>@Model.UserName</span><span>____@Model.SendTime</span>
    <p>@Model.Text</p>
</div>