
@using Slug.Extensions;
<div class="success_register">
    <h2>Регистрация</h2>
    <p>
        Ваша учетная запись успешно <b>зарегестрированна</b>, но не <b>активированна</b>.
    </p>
    <p>
        Следуйте отправленной на вашу почту инструкции и оставайтесь на связи с друзьями по всему миру !
    </p>
    <video loop muted autoplay poster="~/Resources/images/rotating_earth_background.png">
        <source src="~/Resources/video/earth_rotating.mp4" type="video/mp4">
    </video> 
    <hr />
    <p>Если у вас возникли трудности с регистрацией или активаций, воспользуйтесь <b class="feed_back_b" onclick="show_feedback_form()">формой обратной связи</b> и сообщите о проблеме. Мы ответим вам в ближайшее время.</p>
</div>