
@{
    Layout = "~/Views/Shared/private_view.cshtml";
}
@model  Slug.Model.ConversationsModel
<div>My messangers</div>

<div id="conversations">
    @if (Model.Cnv != null)
    {
        foreach (var item in Model.Cnv)
        {
            Html.RenderPartial("~/Views/Partial/Dialogs/dialog_preview.cshtml", item, new ViewDataDictionary<Slug.Model.SimpleChat.CutConversation>(item));
        }
    }
</div>
<script src="~/Scripts/goMsg.js"></script>
<script src="~/Scripts/newMsgInConv.js"></script>
