
@{
    Layout = "~/Views/Shared/private_template.cshtml";
}
@model  Slug.Model.ConversationsModel
@using Slug.Extensions

<h1>@Html.Translate("Text_My_Message_Title")</h1>

<div id="conversations">
    @if (Model.Cnv != null)
    {
        foreach (var item in Model.Cnv)
        {
            Html.RenderPartial("~/Views/Partial/Dialogs/dialog_preview.cshtml", item, new ViewDataDictionary<Slug.Model.SimpleChat.CutConversation>(item));
        }
    }
</div>
<script src="~/Scripts/RelocationToUser.js"></script>
<script src="~/Scripts/newMsgInConv.js"></script>
