
@{
    ViewBag.Title = "conference";
    Layout = "~/Views/Shared/logo.cshtml";
}

<h2>conference</h2>
<div id="video_streaming">
    <div id="me">
        <video autoplay height="400" width="400" id="me_video"></video>
    </div>
</div>



<script src="~/Scripts/jquery-1.6.4.js"></script>
<script src="~/Scripts/jquery-1.6.4.min.js"></script>
<script src="~/Scripts/vConferens.js"></script>
