@{
    ViewBag.Title = "contacts";
    Layout = "~/Views/Shared/private_template.cshtml";
}
@model Slug.Model.Users.ContactsModel
@using Slug.Extensions
<link href="~/Styles/private/tabs-style.css" rel="stylesheet" />
<link href="~/Styles/private/contacts-style.css" rel="stylesheet" />
<title>Мои Контакты</title>

<h1>@Html.Translate("Text_My_Contacts")</h1>
<div class="tabs">
    <div class="tab">
        <div id="in_invitations">
            <input type="radio" id="tab1" name="tab-group" checked>
            <label class="tab-title" for="tab1">Входящие</label>
            <div class="tab-content stylized-scrollbar">
                @foreach (var item in Model.IncommingInvitations)
                {
                    Html.RenderPartial("~/Views/Partial/Contacts/incomming_invitations.cshtml", item, new ViewDataDictionary<Slug.Model.Users.BaseUser>(item));
                }
            </div>
        </div>
    </div>
    <div class="tab">
        <div id="out_invitations">
            <input type="radio" id="tab2" name="tab-group">
            <label class="tab-title" for="tab2">Исходящие</label>
            <div class="tab-content stylized-scrollbar">
                @foreach (var item in Model.OutCommingInvitations)
                {
                    Html.RenderPartial("~/Views/Partial/Contacts/outcomming_invitations.cshtml", item, new ViewDataDictionary<Slug.Model.Users.BaseUser>(item));
                }
            </div>
        </div>
    </div>
    <div class="tab">
        <div id="accepted_friends">
            <input type="radio" id="tab3" name="tab-group">
            <label class="tab-title" for="tab3">@Html.Translate("Text_Current_Contacts")</label>
            <div class="tab-content stylized-scrollbar">
                @foreach (var item in Model.Friends)
                {
                    Html.RenderPartial("~/Views/Partial/Contacts/accept_friend.cshtml", item, new ViewDataDictionary<Slug.Model.Users.BaseUser>(item));
                }
            </div>
        </div>
    </div>
    <div class="tab">
        <div id="black-list">
            <input type="radio" id="tab4" name="tab-group">
            <label class="tab-title" for="tab4">Черный список</label>
            <div class="tab-content stylized-scrollbar">
                @foreach (var item in Model.BlockedUser)
                {
                    Html.RenderPartial("~/Views/Partial/Contacts/black_list_entry.cshtml", item, new ViewDataDictionary<Slug.Model.Users.Relations.BlockedUser>(item));
                }
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/myContacts.js"></script>
<script src="~/Scripts/RelocationToUser.js"></script>
<script>
    var url = new URL(window.location.href);
    var type = url.searchParams.get("type");
    if (type.length > 0) {
         switch (type) {
            case "accept":
                $('#tab3').attr("checked", "checked");
                break;
            case "out":
                $('#tab2').attr("checked", "checked");
                break;
            case "in":
                $('#tab1').attr("checked", "checked");
                 break;
             case "bl":
                 $('#tab4').attr("checked", "checked");
                 break;
        }
    }
</script>