@{
    ViewBag.Title = "contacts";
    Layout = "~/Views/Shared/private_template.cshtml";
}
@model Slug.Model.Users.MyFriendsModel
@using Slug.Extensions

<h1>@Html.Translate("Text_My_Contacts")</h1>

<h2>@Html.Translate("Text_Incomm_To_Friend")</h2>
<div id="in_invitations">
    @foreach (var item in Model.IncommingInvitations)
    {
        Html.RenderPartial("~/Views/Partial/Contacts/incomming_invitations.cshtml", item, new ViewDataDictionary<Slug.Model.Users.FriendModel>(item));
    }
</div>
<h2>@Html.Translate("Text_Outcomm_Investigation")</h2>
<div id="out_invitations">
    @foreach (var item in Model.OutCommingInvitations)
    {
        Html.RenderPartial("~/Views/Partial/Contacts/outcomming_invitations.cshtml", item, new ViewDataDictionary<Slug.Model.Users.FriendModel>(item));
    }
</div>
<h2>@Html.Translate("Text_Current_Contacts")</h2>
<div id="accepted_friends">

    @foreach (var item in Model.Friends)
    {
        Html.RenderPartial("~/Views/Partial/Contacts/accept_friend.cshtml", item, new ViewDataDictionary<Slug.Model.Users.FriendModel>(item));
    }
</div>
<script src="~/Scripts/myContacts.js"></script>