
@{
    ViewBag.Title = "crypto_cnv";
    Layout = "~/Views/Shared/logo.cshtml";
}

<h2>Secure Chat</h2>
<div id="create_new">
    <input type="button" value="Create" id="new_crypto_chat" />
</div>

<div id="currentSC">

</div>

<script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
<script src="~/Scripts/crypto_chat.js"></script>