
@{
    ViewBag.Title = "crypto_cnv";
    Layout = "~/Views/Shared/private_template.cshtml";
}
@model Slug.Model.CryptoChatModel
@using Slug.Extensions

<h1>@Html.Translate("Text_Secret_Chat_Title")</h1>
<div id="create_new">
    <div id="friends_list">
        @foreach (var friend in Model.FriendsICanInvite)
        {
            Html.RenderPartial("~/Views/Partial/CryptoDialogs/friends_can_invite_crypto_dialog.cshtml", friend, new ViewDataDictionary<Slug.Model.Users.FriendModel>(friend));
        }
    </div>
    <p><span>@Html.Translate("Text_Invite_To_Secret_Help_To_Button")</span>
       <button id="new_crypto_chat" onclick="invite()">@Html.Translate("Button_Send_Message")</button>
    </p>
</div>

<div id="self_created">
    @foreach (var item in Model.SelfCreatedChats)
    {
        Html.RenderPartial("~/Views/Partial/CryptoDialogs/self_created_dialog.cshtml", item, new ViewDataDictionary<Slug.Model.CryptoChat>(item));
    }
</div>

<div id="currentSC">
    @foreach (var item in Model.CurrentChats)
    {
        Html.RenderPartial("~/Views/Partial/CryptoDialogs/current_crypto_dialog.cshtml", item, new ViewDataDictionary<Slug.Model.CryptoChat>(item));
    }
</div>

<div id="accept_need">
    @foreach (var item in Model.AcceptNeeded)
    {
        Html.RenderPartial("~/Views/Partial/CryptoDialogs/accept_needed_crypto_dialog.cshtml", item, new ViewDataDictionary<Slug.Model.CryptoChat>(item));
    }
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="~/Scripts/crypto_chat.js"></script>