
@{
    ViewBag.Title = "crypto_cnv";
    Layout = "~/Views/Shared/private_view.cshtml";
}
@model Slug.Model.CryptoChatModel

<h2>Secure Chat</h2>
<div id="create_new">
    <div id="friends_list">
        @foreach (var friend in Model.FriendsICanInvite)
        {
            Html.RenderPartial("~/Views/Partial/CryptoDialogs/friends_can_invite_crypto_dialog.cshtml", friend, new ViewDataDictionary<Slug.Model.Users.FriendModel>(friend));
        }
    </div>
    <p>
        <input type="button" value="Invite to secret chat" id="new_crypto_chat" onclick="invite()" />
    </p>
</div>

<div id="self_created">
    @foreach (var item in Model.SelfCreatedChats)
    {
        Html.RenderPartial("~/Views/Partial/CryptoDialogs/self_created_dialog.cshtml", item, new ViewDataDictionary<Slug.Model.CryptoChat>(item));
    }
</div>

<div id="currentSC">
    @foreach (var item in Model.CurrentChats)
    {
        Html.RenderPartial("~/Views/Partial/CryptoDialogs/current_crypto_dialog.cshtml", item, new ViewDataDictionary<Slug.Model.CryptoChat>(item));
    }
</div>

<div id="accept_need">
    @foreach (var item in Model.AcceptNeeded)
    {
        Html.RenderPartial("~/Views/Partial/CryptoDialogs/accept_needed_crypto_dialog.cshtml", item, new ViewDataDictionary<Slug.Model.CryptoChat>(item));
    }
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="~/Scripts/crypto_chat.js"></script>