@{
    ViewBag.Title = "conference";
    Layout = "~/Views/Shared/private_template.cshtml";
}

@model Slug.Model.VideoConference.VideoConferenceModel
@using Slug.Extensions

<link href="~/Styles/private/tabs-style.css" rel="stylesheet" />
<link href="~/Styles/common/await.css" rel="stylesheet" />
<link href="~/Styles/private/incomming-call-notification-style.css" rel="stylesheet" />
<link href="~/Styles/private/video-conversation-main.css" rel="stylesheet" />
<title>Видео Связь</title>
<div class="tabs">
    <div class="tab">
        <div id="friends">
            <input type="radio" id="tab1" name="tab-group" checked="">
            <label class="tab-title" for="tab1">Доступны для звонка</label>
            <div class="tab-content">
                <div class="call-manage">
                    <span id="not_selected" style="color:red">Никто не выбран</span>
                    <br>
                    <button id="new_converence" onclick="createConference()">Вызвать выбранных</button>
                </div>
                <div class="friends-container stylized-scrollbar">
                    @foreach (var friend in Model.Friends)
                    {
                        Html.RenderPartial("~/Views/Partial/VideoConference/friend_to_call.cshtml", friend, new ViewDataDictionary<Slug.Model.Users.BaseUser>(friend));
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="tab">
        <div id="incomming">
            <input type="radio" id="tab2" name="tab-group">
            <label class="tab-title" for="tab2">
                @if (Model.IsIncommingExist == true)
                {
                    <div class="notify"></div>
                }
                Активные звонки
            </label>
            <div class="tab-content stylized-scrollbar">
                @foreach (var item in Model.IncomingCalls)
                {
                    Html.RenderPartial("~/Views/Partial/VideoConference/incomming_call.cshtml", item, new ViewDataDictionary<Slug.Model.VideoConference.IncomingInviteModel>(item));
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Private/VideoConference/vDialogs.js"></script>
<script>
    function HideNoneSelectSpan() {
        var elem = $('.fr');
        [].forEach.call(elem, function (item) {
            if (item.checked == true) {
                $('#not_selected').fadeOut();
            }
        });
    }
    var url = new URL(window.location.href);
    var type = url.searchParams.get("type");
    if (type!= null && type.length > 0) {
        switch (type) {
            case "in":
                $('#tab2').attr("checked", "checked");
                break;
        }
    }
</script>