
@{
    ViewBag.Title = "conference";
    Layout = "~/Views/Shared/private_view.cshtml";
}

@model Slug.Model.VideoConference.VideoConferenceModel
@using Slug.Extensions

<h2>@Html.Translate("Text_Video_Connect")</h2>
<h3>@Html.Translate("Text_Avaliable_To_Call")</h3>

<div id="friends">
    @foreach (var friend in Model.Friends)
    {
        Html.RenderPartial("~/Views/Partial/VideoConference/friend_to_call.cshtml", friend, new ViewDataDictionary<Slug.Model.Users.FriendModel>(friend));
    }
</div>

<h3>@Html.Translate("Text_Incomming_To_Me_Call")</h3>
<div id="incomming">
    @foreach (var item in Model.IncomingCalls)
    {
        Html.RenderPartial("~/Views/Partial/VideoConference/incomming_call.cshtml", item, new ViewDataDictionary<Slug.Model.VideoConference.IncomingInviteModel>(item));
    }
</div>
<h3>@Html.Translate("Text_Call_History")</h3>
<div id="calls_history">
    @foreach (var friend in Model.CallsHistory)
    {
        Html.RenderPartial("~/Views/Partial/VideoConference/conference_history_item.cshtml", friend, new ViewDataDictionary<Slug.Model.VideoConference.CallModel>(friend));
    }
</div>
<script src="~/Scripts/vDialogs.js"></script>