
@{
    ViewBag.Title = "My";
    Layout = "~/Views/Shared/private_view.cshtml";
}
<div id="cut_info">
    <p>
        <img src=@Model.AvatarUri id="img_avatar" width="200" height="200" />
    @using (Html.BeginForm("upload", "private", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="upload" /><br>
        <input type="submit" value="Загрузить" />
    }
    </p>
    <p>
        <span>@Model.Name </span>
    </p>
    <p>
        <span>@Model.SurName </span>
    </p>
    <p>
        <span>@Model.Sity </span>
    </p>
    <p>
        <span>@Model.MetroStation </span>
    </p>
</div>

<div>
    <a href="~/private/cnv">messages</a>
</div>
<div>
    <a href="~/private/crypto_cnv">crypto chat</a>
</div>
<div>
    <a href="~/private/invite_video_conversation">video chat</a>
</div>

<div>
    <a href="~/private/contacts">contacts</a>
</div>

<div>
    <a href="~/private/logout">logout</a>
</div>
<div>
    <a href="~/private/settings">settings</a>
</div>
<div>
    <a href="~/private/search">search</a>
</div>