
@{
    ViewBag.Title = "My";
    Layout = "~/Views/Shared/Logo.cshtml";
}
<div id="cut_info">
    <p>
        <img src=@Model.AvatarUri />
    </p>
    <p>
        <span>@Model.Name </span>
    </p>
    <p>
        <span>@Model.SurName </span>
    </p>
    <p>
        <span>@Model.Sity </span>
    </p>
    <p>
        <span>@Model.MetroStation </span>
    </p>
</div>

<div>
    <a href="~/private/cnv">messages</a>
</div>
<div>
    <a href="~/private/crypto_cnv">crypto chat</a>
</div>
<div>
    <a href="~/private/video_chat">video chat</a>
</div>

<div>
    <a href="~/private/contacts">contacts</a>
</div>

<div>
    <a href="~/private/logout">logout</a>
</div>
