
@{
    Layout = "~/Views/Shared/private_template.cshtml";
}
@model Slug.Context.Dto.Search.SearchUsersResponse
@using Slug.Extensions;
<title>Результаты поиска</title>

<h1>Результаты поиска</h1>
<div id="result_out">
    @foreach (var user in Model.Users)
    {
        Html.RenderPartial("~/Views/Partial/OtherUser/fount_user.cshtml", user, new ViewDataDictionary<Slug.Model.Users.BaseUser>(user));
    }

    @{
        var param = Url.RequestContext.HttpContext.Request.Params;
        var userName = param["user_name"];
        if (string.IsNullOrWhiteSpace(userName))
        {
            userName = " ";
        }
        for (int i = 1; i <= Model.PagesCount; i++)
        {
            <a href="@Url.Action("search_result","private", new {
                user_name = userName,
                user_country = param["user_country"],
                user_city = param["user_city"],
                user_sex = param["user_sex"],
                user_age = param["user_age"],
                page =i })">@i</a>
            }
    }
    //user_sex=1&user_country=7&user_city=495&user_age=0&user_purpose=1&page=1

</div>
<script src="~/Scripts/RelocationToUser.js"></script>
