
@{
    ViewBag.Title = "search";
    Layout = "~/Views/Shared/private_view.cshtml";
}

<h2>search</h2>
<div>
    <form id="searchSubmit" action="" method="post">
        <p><p><span>Имя</span></p>
        <input type="text" name="user_name" />
        </p>
        <p>
        <p><span>Страна</span></p>
        <select id="user_search_country" name="user_country" onchange="getCities()">
            <option value="7">Россия</option>
            <option value="1">USA</option>
        </select>
        </p>
        <p>
        <p><span>Город</span></p>
        <select id="user_search_city" name="user_city">
            <option value="495">Москва</option>
        </select>
        </p>
        <p>
        <p><span>Пол</span></p>
        <select name="user_sex">
            <option value="0">Жен</option>
            <option value="1">Муж</option>
        </select>
        </p>
        <p>
        <p><span>Возраст</span></p>            
        <select id="user_search_age" name="user_age">
            <option value="0">16-20</option>
            <option value="1">21-26</option>
            <option value="2">27-32</option>
            <option value="3">33-40</option>
            <option value="4">41-49</option>
            <option value="5">50-59</option>
            <option value="6">60-69</option>
            <option value="7">> 70</option>
        </select>
        </p>
        <input type="button" value="Найти" onclick="serchUser()" />
    </form>
</div>
<script src="~/Scripts/Search.js"></script>