
@{
    ViewBag.Title = "settings";
    Layout = "~/Views/Shared/private_view.cshtml";
}
@using type = Slug.Context.Dto.Settings.NotificationTypes;

<h2>settings</h2>
<div>
    <div>
        <form id="changeSettingsSubmit" action="" method="post">
            <div id="notify_email">
                @if (Model.NotifyType == type.Login)
                {
                    <span>Yes</span>
                    <input type="radio" name="NotifyToEmail" value="1" checked />
                    <span>No</span>
                    <input type="radio" name="NotifyToEmail" value="0" />
                }
                else
                {
                    <span>Yes</span>
                    <input type="radio" name="NotifyToEmail" value="1" />
                    <span>No</span>
                    <input type="radio" name="NotifyToEmail" value="0" checked />
                }
            </div>
            <div id="email">
                <input type="email" name="NewEmail" placeholder="@Model.Email" />
            </div>
            <input type="button" value="Change" onclick="saveSettings()" />
        </form>
    </div>
    <div>
        <form id="changePasswSubmit" action="" method="post">
            <div id="change_pass">
                <input type="password" name="OldPassw" placeholder="old password" />
                <input type="password" name="OldPasswRep" placeholder="old password repeat" />
                <input type="password" name="NewPassw" placeholder="new password" />
            </div>
            <input type="button" value="Change" onclick="savePassword()" />
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.2.0/sha.js"></script>
<script src="~/Scripts/SHA-512.js"></script>
<script src="~/Scripts/Settings.js"></script>
