@{
    Layout = "~/Views/Shared/private_template.cshtml";
}
@using Slug.Extensions;

<link href="~/Styles/private/toggle-style.css" rel="stylesheet" />
<link href="~/Styles/private/settings-style.css" rel="stylesheet" />
<title>Мои Настройки</title>
<h1>Настройки</h1>



<div class="settings notify">
    <span><b>Быстрые сообщения</b></span><br>
    <span>Быстрые сообщения позволяют видеть текст набираемый собеседником, до того как он был отправлен. </span>
    <div class="normal-container">
        <div class="smile-rating-container">
            <div class="smile-rating-toggle-container">
                <form class="submit-rating">
                    @if (Model.QuickMessage)
                    {
                        <input id="meh" name="NotifyType" type="radio" />
                        <input id="fun" name="NotifyType" type="radio" checked />
                    }
                    else
                    {
                        <input id="meh" name="NotifyType" type="radio" checked />
                        <input id="fun" name="NotifyType" type="radio" />
                    }
                    <label for="meh" class="rating-label rating-label-meh">Off</label>

                    <div class="smile-rating-toggle"></div>
                    <div class="rating-eye rating-eye-left"></div>
                    <div class="rating-eye rating-eye-right"></div>

                    <div class="mouth rating-eye-bad-mouth"></div>

                    <div class="toggle-rating-pill"></div>
                    <label for="fun" class="rating-label rating-label-fun">On</label>
                </form>
            </div>
        </div>
        <button onclick="saveQuickMessage()">Сохранить</button>
    </div>
</div>
<div class="settings email">
    <span><b>Адрес почты</b></span><br>
    <div id="email">
        <input type="email" name="NewEmail" placeholder="@Model.Email">
        <button onclick="saveEmail()">Сохранить</button>
    </div>
</div>
<div class="settings password">
    <span><b>Смена пароля</b></span><br>
    <div class="password-container">
        <form id="changePasswSubmit" action="http://localhost:32035/private/settings" method="post">
            <div id="change_pass">
                <input type="password" name="OldPassw" placeholder="Старый пароль">
                <input type="password" name="OldPasswRep" placeholder="Старый пароль еще раз">
                <input type="password" name="NewPassw" placeholder="Новый пароль">
            </div>
        </form>
        <button onclick="savePassword()">Сохранить</button>
    </div>
</div>
<script src="~/Scripts/System/ParseFormArray.js"></script>
<script src="~/Scripts/System/sha512.js"></script>
<script src="~/Scripts/System/SHA-512.js"></script>
<script src="~/Scripts/Settings.js"></script>