@{
    Layout = "~/Views/Shared/private_template.cshtml";
}
@using Slug.Extensions;

<link href="~/Styles/private/toggle-style.css" rel="stylesheet" />
<link href="~/Styles/private/settings-style.css" rel="stylesheet" />
<title>Мои Настройки</title>
<h1>Настройки</h1>



<div class="settings-wrapper notify">
    <span><b>Быстрые сообщения</b></span><br>
    <span>Быстрые сообщения позволяют видеть текст набираемый собеседником, до того как он был отправлен. </span>
    <div class="normal-container">
        <div class="smile-rating-container">
            <div class="smile-rating-toggle-container">
                <form class="submit-rating">
                    <label for="meh" class="rating-label rating-label-meh">Off</label>
                    <label for="fun" class="rating-label rating-label-fun">On</label>
                    @if (Model.QuickMessage)
                    {
                        <input id="meh" name="NotifyType" type="radio" />
                        <input id="fun" name="NotifyType" type="radio" checked />
                    }
                    else
                    {
                        <input id="meh" name="NotifyType" type="radio" checked />
                        <input id="fun" name="NotifyType" type="radio" />
                    }

                    <div class="smile-rating-toggle">
                        <div class="eyes">
                            <div class="rating-eye rating-eye-left"></div>
                            <div class="rating-eye rating-eye-right"></div>
                        </div>
                        <div class="mouth rating-eye-bad-mouth"></div>
                    </div>
                    <div class="toggle-rating-pill"></div>
                </form>
            </div>
        </div>
        <button onclick="saveQuickMessage()">Сохранить</button>
    </div>
</div>

<div class="settings-wrapper email">
    <span><b>Адрес почты</b></span><br>
    <div id="email">
        <input type="email" id="new-email" name="NewEmail" placeholder="@Model.Email">
        <button onclick="saveEmail()">Сохранить</button>
    </div>
</div>

<div class="settings-wrapper password">
    <span><b>Смена пароля</b></span><br>
    <div class="password-container">
        <div id="change_pass">
            <form id="changePasswSubmit">
                <input type="password" name="OldPassw" placeholder="Старый пароль">
                <input type="password" name="OldPasswRep" placeholder="Старый пароль еще раз">
                <input type="password" name="NewPassw" placeholder="Новый пароль">
            </form>
        </div>
        <button onclick="savePassword()">Сохранить</button>
    </div>
</div>

<h2>Локальные настройки</h2>
<div class="settings-wrapper">
    <div class="sound-notify">
        <span><b>Звук при уведомлениях</b></span>
        <br />

        <div class="smile-sound">
            <div class="smile-rating-container">
                <div class="smile-rating-toggle-container">
                    <form class="submit-rating">
                        <label for="meh-sound" class="rating-label rating-label-meh">Off</label>
                        <label for="fun-sound" class="rating-label rating-label-fun" checked>On</label>

                        <input id="meh-sound" name="Sound" type="radio" checked />
                        <input id="fun-sound" name="Sound" type="radio" />

                        <div class="smile-rating-toggle">
                            <div class="eyes">
                                <div class="rating-eye rating-eye-left"></div>
                                <div class="rating-eye rating-eye-right"></div>
                            </div>
                            <div class="mouth rating-eye-bad-mouth"></div>
                        </div>

                        <div class="toggle-rating-pill"></div>
                    </form>
                </div>
            </div>
            <button onclick="SaveNotifySoundBechavior()">Сохранить</button>
        </div>

    </div>
</div>

<div class="settings-wrapper">
    <div class="alert-notify">
        <span><b>Показывать уведомления</b></span>
        <div class="smile-sound">
            <div class="smile-rating-container">
                <div class="smile-rating-toggle-container">
                    <form class="submit-rating">
                        <label for="meh-alert" class="rating-label rating-label-meh">Off</label>
                        <label for="fun-alert" class="rating-label rating-label-fun">On</label>

                        <input id="meh-alert" name="Alert" type="radio" />
                        <input id="fun-alert" name="Alert" type="radio" />

                        <div class="smile-rating-toggle">
                            <div class="eyes">
                                <div class="rating-eye rating-eye-left"></div>
                                <div class="rating-eye rating-eye-right"></div>
                            </div>
                            <div class="mouth rating-eye-bad-mouth"></div>
                        </div>
                        <div class="toggle-rating-pill"></div>
                    </form>
                </div>
            </div>
            <button onclick="SaveNotifyAlertBechavior()">Сохранить</button>
        </div>

    </div>
</div>

<script src="~/Scripts/System/ParseFormArray.js"></script>
<script src="~/Scripts/System/sha512.js"></script>
<script src="~/Scripts/System/SHA-512.js"></script>
<script src="~/Scripts/Private/Settings/ChangeSettings.js"></script>
<script src="~/Scripts/Private/Settings/LocalSettings.js"></script>
<script>
    window.onload = function () {
        var sound = boolSetting('notifysound');
        if (sound == true) {
            $('#fun-sound')[0].checked = true;
        }

        var alert = boolSetting('notifyalert');
        if (alert == true) {
            $('#fun-alert')[0].checked = true;
        }
    }

</script>