
@{
    ViewBag.Title = "users";
    Layout = "~/Views/Shared/private_view.cshtml";
}

<h2>@Model.Name @Model.SurName</h2>

<div>
    <div id="user_cut_data">
        <img src="@Model.AvatarPath" />
        @if (Model.IsInvestigatedSand)
        {
        <p><button name="@Model.UserId" onclick="addToContacts()">Add to Contacts</button></p>
        }
        else
        {
            <p>User is not your friend now</p>
        }
    </div>
</div>

<script src="~/Scripts/addContact.js"></script>