
@{
    ViewBag.Title = "users";
    Layout = "~/Views/Shared/logo.cshtml";
}

<h2>@Model.Name @Model.SurName</h2>

<div>
    <div id="user_cut_data">
        <img src="@Model.AvatarPath" />
        <p><button name="@Model.UserId">Add to Contacts</button></p>
    </div>
</div>

<script src="~/Scripts/addContact.js"></script>