@using Slug.Extensions;
<html>
<head>
    <title>Видео звонок</title>
    <meta name="description" content="Видео звонок">
    <meta property="og:description" content="Видео звонок">
    <meta content="text/html; charset=UTF-8">
    <link rel="icon" href="~/Resources/images/favicon.ico" type="image/x-icon">
    <link href="~/Styles/private/controlls_style.css" rel="stylesheet" />
    <link href="~/Styles/private/video-dialog.css" rel="stylesheet" />
    <link href="~/Styles/private/video-await.css" rel="stylesheet" />
    <link href="~/Styles/private/private_style.css" rel="stylesheet" />
    <script src="~/Scripts/System/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/System/jquery.signalR-2.4.0.js"></script>
    <script src="~/Scripts/System/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/Scripts/Private/Common/mainGlobalHub.js"></script>
    <script src="~/Scripts/System/AsyncRequest.js"></script>
    <script src="~/Scripts/System/BigInteger.js"></script>
</head>
<body>
    <div class="conferece">
        <div class="video-remote-group-wrapper">
            <div class="video-conteiner-wrapper" id="stream_1">
                <h2 class="partisipant-name"></h2>
                <div class="video-stream notuser">
                    <img alt="avatar" class="avatar" src="https://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_100,w_100,c_thumb,g_face/v1555678151/users/avatars/vxwcda0dxcxn5nlruo7b.png" />
                    <span>Ожидает подключения...</span>
                    <div id="circular3dG">
                        <div id="circular3d_1G" class="circular3dG"></div>
                        <div id="circular3d_2G" class="circular3dG"></div>
                        <div id="circular3d_3G" class="circular3dG"></div>
                        <div id="circular3d_4G" class="circular3dG"></div>
                        <div id="circular3d_5G" class="circular3dG"></div>
                        <div id="circular3d_6G" class="circular3dG"></div>
                        <div id="circular3d_7G" class="circular3dG"></div>
                        <div id="circular3d_8G" class="circular3dG"></div>
                    </div>
                </div>
                <div class="video-stream userconnected">
                    <video autoplay="" id="remoteVideo_1"></video>
                    <audio autoplay="" id="remoteAudio_1"></audio>
                </div>
                <div class="container-manage">
                    <button id="screen_button_stream_1" onclick="resizeDocument(stream_1, this)">
                        <img alt="full screen" src="https://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_45/v1562426165/Full-Screen-icon.png" />
                    </button>
                    <div class="sound-ico">
                        <img alt="sound" id="stream_1_volume_img"
                             src="https://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_25/v1562503967/system/sound-middle.png" />
                    </div>
                    <div class="video-ico">
                        <img alt="video" id="stream_1_video_img" onclick="togleRemoteVideo(this, 'remoteVideo_1')"
                             src="https://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_25/v1562506866/system/video-on.png" />
                    </div>
                </div>
            </div>
        </div>

        <div class="video-container self">
            <div class="self-video">
                <video autoplay="" id="localVideo" muted></video>
            </div>
            <div class="conference-manage">
                <button onclick="togleMyVolume()" id="my-Volume-Togle">
                    <img alt="enable my sound" id="panel-ico-sound"
                         src="https://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_22/v1562433516/system/micro.png" />
                    Выключить мой звук
                </button>
                <button onclick="togleMyVideo()" id="my-Video-Togle">
                    <img alt="enable my video" id="panel-ico-video" src="https://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_25/v1562509801/system/video-white.png" />
                    Выключить моё видео
                </button>
                <button onclick="closeCall()">
                    <img alt="close call" id="panel-ico-exit" src="https://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_22/v1562433516/system/close.png" />
                    Завершить звонок
                </button>
            </div>
            <div class="manage-panel-visibility" onclick="closeOrOpenPanel()">
                <div class="triangle-panel-open" hidden></div>
                <div class="triangle-panel-close"></div>
            </div>
        </div>

    </div>
    <script src="~/Scripts/Private/VideoConference/vConferens.js"></script>
</body>
</html>