
@{
    ViewBag.Title = "conference";
    Layout = "~/Views/Shared/logo.cshtml";
}

<h2>Start new video chat</h2>
<style>
    #video_streaming {
        margin: 0 auto;
        display: flex;
    }
    .vid_container {
        border: 4px double black;
    }
</style>
<div id="video_streaming">
    <div id="me_video_container" class="vid_container">
        <span>Me</span>
        <video autoplay height="200" width="200" id="localVideo"></video>
    </div>
    <div id="friend_video_container" class="vid_container">
        <span>Friend</span>
        <video autoplay height="200" width="200" id="remoteVideo"></video>
    </div>
    <audio autoplay id="remoteAudio"/>
</div>

<h3>Call :</h3>
<div id="friends">
    @foreach (var item in Model.Friends)
    {
        <div class="friend_div" id="@item.UserId">
            <img src="@item.AvatarPath" height="50" width="50" /> <span>@item.Name  @item.SurName</span>
        </div>
    }
</div>

<h3>incomming calls</h3>
<div id="incomming">
</div>

<script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
<script src="~/Scripts/vConferens.js"></script>
