<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace"
      internalLogFile="nlog-internal.log">

  
  <targets>
    <target xsi:type="File" name="info_log" fileName="${basedir}/Logs/scheduledService_${shortdate}.log"
    layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />
    
    <target xsi:type="File" name="http_trace_log" fileName="${basedir}/Logs/http_errors_${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />

    <target xsi:type="File" name="internal_error_log" fileName="${basedir}/Logs/internal_errors_${shortdate}.log"
        layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />

    <target xsi:type="File" name="info_log" fileName="${basedir}/Logs/info_${shortdate}.log"
        layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />

    <target xsi:type="File" name="jsonFile" fileName="${basedir}/Logs/payments_${shortdate}.json">
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level}" />
        <attribute name="message" layout="${message}" />
        <attribute name="eventProperties" encode="false" >
          <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="2"/>
        </attribute>
      </layout>
    </target>
    
    </targets>

    <rules>
      <logger name="scheduler_service_log" minlevel="Info" writeTo="info_log" />
      <logger name="http_exception_logger" minlevel="Trace" writeTo="http_trace_log" />
      <logger name="internal_error_logger" minlevel="Error" writeTo="internal_error_log" />
      <logger name="info_logger" minlevel="Info" writeTo="info_log" />
      <logger name="payment_logger" minlevel="Info" writeTo="jsonFile" />
    </rules>
</nlog>
