<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="DBConnection" connectionString="Data Source=localhost; Initial Catalog=u0823102_slugDtb; Integrated Security=false; User Id=u0823102_v9; Password=!@#@__09asd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="okAppRedirectUri" value="https://friendlynet.ru/guest/ok_oauth" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="oauthFbRedirectUri" value="https://friendlynet.ru/guest/fb_oauth" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="oauthVkRedirectUri" value="https://friendlynet.ru/guest/vk_oauth" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="smtpServerEmail" value="admin@friendlynet.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="smtpServerPassword" value="_Qv9!@#ylL_127S" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="smtpHost" value="wpl23.hosting.reg.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
    <rules>
      <clear />
      <rule name="Redirect to https" stopProcessing="true">
        <match url=".*" />
        <conditions>
          <add input="{HTTPS}" pattern="off" ignoreCase="true" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
      </rule>
    </rules>
  </rewrite>
  </system.webServer>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>