USE [slugDtB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivationLinks]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivationLinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ActivationParam] [nvarchar](120) NULL,
	[IsExpired] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ActivationLinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avatars]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avatars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
	[IsStandart] [bit] NOT NULL,
	[CountryCode] [int] NULL,
	[ImgPath] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Avatars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CitiesCode] [int] NOT NULL,
	[CountryCode] [int] NOT NULL,
	[Language] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationGroups]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationGuidId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ConversationGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationGuidId] [uniqueidentifier] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Conversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [int] NOT NULL,
	[Language] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educations]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EducationType] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Faculty] [nvarchar](max) NULL,
	[Specialty] [nvarchar](max) NULL,
	[CountryCode] [int] NOT NULL,
	[UntilNow] [bit] NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NULL,
	[Comment] [nvarchar](500) NULL,
	[PersonalRating] [int] NOT NULL,
	[UserInfo_Id] [int] NULL,
	[SityCode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Educations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FriendsRelationships]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FriendsRelationships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserConfirmer] [int] NOT NULL,
	[OfferSendedDate] [datetime] NOT NULL,
	[UserOferFrienshipSender] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FriendsRelationships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LifePlaces]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LifePlaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [int] NOT NULL,
	[UntilNow] [bit] NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NULL,
	[Comment] [nvarchar](500) NULL,
	[PersonalRating] [int] NOT NULL,
	[UserInfo_Id] [int] NULL,
	[SityCode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.LifePlaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemorableEvents]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemorableEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventTitle] [nvarchar](max) NOT NULL,
	[EventComment] [nvarchar](max) NOT NULL,
	[UserInfo_Id] [int] NULL,
 CONSTRAINT [PK_dbo.MemorableEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Text] [nvarchar](3000) NULL,
	[SendingDate] [datetime] NOT NULL,
	[IsReaded] [bit] NOT NULL,
	[ConvarsationGuidId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecretChatGroups]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecretChatGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartyGUID] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[Accepted] [bit] NOT NULL,
 CONSTRAINT [PK_SecretChatGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecretChats]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecretChats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartyGUID] [uniqueidentifier] NOT NULL,
	[Create] [datetime] NOT NULL,
	[Destroy] [datetime] NOT NULL,
	[CreatorUserId] [int] NOT NULL,
 CONSTRAINT [PK_SecretChat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecretMessages]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecretMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartyId] [nvarchar](36) NOT NULL,
	[UserSender] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[SendingDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SecretMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](120) NOT NULL,
	[Type] [int] NOT NULL,
	[DateStart] [datetime] NOT NULL,
	[Expired] [bit] NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_dbo.Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionTypes]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.SessionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserConnections]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserConnections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConnectionID] [uniqueidentifier] NOT NULL,
	[UserID] [int] NOT NULL,
	[ConnectionActiveStatus] [bit] NOT NULL,
	[ConnectionTime] [datetime] NOT NULL,
	[ConnectionOff] [datetime] NULL,
 CONSTRAINT [PK_dbo.UserConnections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfoes]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[SurName] [nvarchar](20) NOT NULL,
	[PrivateStatus] [int] NOT NULL,
	[Sex] [int] NOT NULL,
	[NowCountryCode] [int] NOT NULL,
	[NowSityCode] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[CountryCode] [int] NOT NULL,
	[UserStatus] [int] NOT NULL,
	[AvatarId] [int] NULL,
	[Settings_Id] [int] NULL,
	[UserFullInfo_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[NotificationType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStatuses]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.UserStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoConferenceGroups]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoConferenceGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuidId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VideoConferenceGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoConferences]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoConferences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuidId] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Offer] [nvarchar](max) NULL,
	[Answer] [nvarchar](max) NULL,
	[ConferenceCreatorUserId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.VideoConferences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkPlaces]    Script Date: 05.05.2019 17:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkPlaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyTitle] [nvarchar](max) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[CountryCode] [int] NOT NULL,
	[UntilNow] [bit] NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NULL,
	[Comment] [nvarchar](500) NULL,
	[PersonalRating] [int] NOT NULL,
	[UserInfo_Id] [int] NULL,
	[SityCode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.WorkPlaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivationLinks] ON 

INSERT [dbo].[ActivationLinks] ([Id], [UserId], [ActivationParam], [IsExpired]) VALUES (1, 1, N'7456077b69f8761eb47a71b204157e65bbb0281715e048414b0eb14fe2687b52f7e4899bb9eb2b642b176befb1601517f491e2f474a5b8b14ae0b754', 1)
INSERT [dbo].[ActivationLinks] ([Id], [UserId], [ActivationParam], [IsExpired]) VALUES (2, 1, N'b6dc7cd9b473d6559fd63caa9de52e757a727ea6bcf6fdddedeaac2249ffc2dd29eddd3e72ddd92ddf66eba9f6b0d6bcbdacf65fc49f2ac5af27d7bc', 1)
SET IDENTITY_INSERT [dbo].[ActivationLinks] OFF
SET IDENTITY_INSERT [dbo].[Avatars] ON 

INSERT [dbo].[Avatars] ([Id], [UploadTime], [IsStandart], [CountryCode], [ImgPath]) VALUES (1, CAST(N'1900-01-01T00:00:00.000' AS DateTime), 1, 1, N'https://res.cloudinary.com/dlk1sqmj4/image/upload/v1552742058/usa1.jpg')
INSERT [dbo].[Avatars] ([Id], [UploadTime], [IsStandart], [CountryCode], [ImgPath]) VALUES (2, CAST(N'1900-01-01T00:00:00.000' AS DateTime), 1, 7, N'https://res.cloudinary.com/dlk1sqmj4/image/upload/v1552741998/rus1.png')
INSERT [dbo].[Avatars] ([Id], [UploadTime], [IsStandart], [CountryCode], [ImgPath]) VALUES (3, CAST(N'1990-01-01T00:00:00.000' AS DateTime), 1, 7, N'https://res.cloudinary.com/dlk1sqmj4/image/upload/v1552742058/usa1.jpg')
SET IDENTITY_INSERT [dbo].[Avatars] OFF
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [CitiesCode], [CountryCode], [Language], [Title]) VALUES (1, 495, 7, 0, N'Moskow')
INSERT [dbo].[Cities] ([Id], [CitiesCode], [CountryCode], [Language], [Title]) VALUES (3, 495, 7, 1, N'Москва')
INSERT [dbo].[Cities] ([Id], [CitiesCode], [CountryCode], [Language], [Title]) VALUES (4, 718, 1, 0, N'New York City')
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[ConversationGroups] ON 

INSERT [dbo].[ConversationGroups] ([Id], [ConversationGuidId], [UserId]) VALUES (1, N'13938824-2756-411d-823c-88ecab164e85', 2)
INSERT [dbo].[ConversationGroups] ([Id], [ConversationGuidId], [UserId]) VALUES (2, N'13938824-2756-411d-823c-88ecab164e85', 1)
INSERT [dbo].[ConversationGroups] ([Id], [ConversationGuidId], [UserId]) VALUES (1002, N'd7c250a7-3b70-4efc-a428-f84b475a39df', 6)
SET IDENTITY_INSERT [dbo].[ConversationGroups] OFF
SET IDENTITY_INSERT [dbo].[Conversations] ON 

INSERT [dbo].[Conversations] ([Id], [ConversationGuidId], [CreatedDateTime]) VALUES (1, N'13938824-2756-411d-823c-88ecab164e85', CAST(N'2019-04-21T17:00:40.243' AS DateTime))
INSERT [dbo].[Conversations] ([Id], [ConversationGuidId], [CreatedDateTime]) VALUES (2, N'd7c250a7-3b70-4efc-a428-f84b475a39df', CAST(N'2019-05-02T13:50:42.630' AS DateTime))
INSERT [dbo].[Conversations] ([Id], [ConversationGuidId], [CreatedDateTime]) VALUES (3, N'1ef2150d-91f4-42b4-abaf-4af2668e7ff6', CAST(N'2019-05-02T14:12:24.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[Conversations] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [CountryCode], [Language], [Title]) VALUES (1, 1, 0, N'USA')
INSERT [dbo].[Countries] ([Id], [CountryCode], [Language], [Title]) VALUES (2, 1, 1, N'США')
INSERT [dbo].[Countries] ([Id], [CountryCode], [Language], [Title]) VALUES (3, 7, 0, N'Russia')
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[FriendsRelationships] ON 

INSERT [dbo].[FriendsRelationships] ([Id], [UserConfirmer], [OfferSendedDate], [UserOferFrienshipSender], [Status]) VALUES (1, 1, CAST(N'2019-03-29T00:00:00.000' AS DateTime), 2, 0)
INSERT [dbo].[FriendsRelationships] ([Id], [UserConfirmer], [OfferSendedDate], [UserOferFrienshipSender], [Status]) VALUES (2, 188, CAST(N'2019-05-02T13:11:52.633' AS DateTime), 2, 1)
INSERT [dbo].[FriendsRelationships] ([Id], [UserConfirmer], [OfferSendedDate], [UserOferFrienshipSender], [Status]) VALUES (3, 6, CAST(N'2019-05-02T13:21:18.167' AS DateTime), 2, 3)
SET IDENTITY_INSERT [dbo].[FriendsRelationships] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [UserId], [Text], [SendingDate], [IsReaded], [ConvarsationGuidId]) VALUES (1, 1, N'qwe', CAST(N'2019-04-21T20:00:42.513' AS DateTime), 0, N'13938824-2756-411d-823c-88ecab164e85')
INSERT [dbo].[Messages] ([Id], [UserId], [Text], [SendingDate], [IsReaded], [ConvarsationGuidId]) VALUES (2, 2, N'helol', CAST(N'2019-05-02T16:21:59.097' AS DateTime), 0, N'13938824-2756-411d-823c-88ecab164e85')
INSERT [dbo].[Messages] ([Id], [UserId], [Text], [SendingDate], [IsReaded], [ConvarsationGuidId]) VALUES (3, 2, N'helol', CAST(N'2019-05-02T16:22:05.983' AS DateTime), 0, N'13938824-2756-411d-823c-88ecab164e85')
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[SecretChatGroups] ON 

INSERT [dbo].[SecretChatGroups] ([Id], [PartyGUID], [UserId], [Accepted]) VALUES (1, N'bc21975c-e6e4-419b-8c53-80da762bb2db', 11, 1)
INSERT [dbo].[SecretChatGroups] ([Id], [PartyGUID], [UserId], [Accepted]) VALUES (2, N'bc21975c-e6e4-419b-8c53-80da762bb2db', 20, 1)
INSERT [dbo].[SecretChatGroups] ([Id], [PartyGUID], [UserId], [Accepted]) VALUES (1002, N'f717d21a-7fa2-48d1-9da2-d477a25dc86f', 11, 1)
SET IDENTITY_INSERT [dbo].[SecretChatGroups] OFF
SET IDENTITY_INSERT [dbo].[SecretChats] ON 

INSERT [dbo].[SecretChats] ([Id], [PartyGUID], [Create], [Destroy], [CreatorUserId]) VALUES (1, N'bc21975c-e6e4-419b-8c53-80da762bb2db', CAST(N'2019-05-03T19:06:37.800' AS DateTime), CAST(N'2019-05-03T20:06:37.800' AS DateTime), 20)
INSERT [dbo].[SecretChats] ([Id], [PartyGUID], [Create], [Destroy], [CreatorUserId]) VALUES (2, N'f717d21a-7fa2-48d1-9da2-d477a25dc86f', CAST(N'2019-05-05T14:44:32.867' AS DateTime), CAST(N'2019-05-05T15:44:32.867' AS DateTime), 20)
SET IDENTITY_INSERT [dbo].[SecretChats] OFF
SET IDENTITY_INSERT [dbo].[SecretMessages] ON 

INSERT [dbo].[SecretMessages] ([Id], [PartyId], [UserSender], [Text], [SendingDate]) VALUES (1, N'fdf7fa73-22fc-4521-8093-01229391dfbe', 11, N'U2FsdGVkX1+TDT/2WNxdaPvsSJOa1cAPjWv6+UIjKiE=', CAST(N'2019-05-03T15:51:36.980' AS DateTime))
INSERT [dbo].[SecretMessages] ([Id], [PartyId], [UserSender], [Text], [SendingDate]) VALUES (2, N'fdf7fa73-22fc-4521-8093-01229391dfbe', 11, N'U2FsdGVkX1/Uimgr/9GuM/vplveM/4jEl5SGUJ5WYxs=', CAST(N'2019-05-03T15:52:10.947' AS DateTime))
INSERT [dbo].[SecretMessages] ([Id], [PartyId], [UserSender], [Text], [SendingDate]) VALUES (3, N'fdf7fa73-22fc-4521-8093-01229391dfbe', 11, N'U2FsdGVkX196fcf3h6zEURLnMQZqcO9hRGd3oNGgnrQ=', CAST(N'2019-05-03T15:55:48.197' AS DateTime))
SET IDENTITY_INSERT [dbo].[SecretMessages] OFF
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([Id], [Number], [Type], [DateStart], [Expired], [UserId]) VALUES (1, N'10f3f6172d3f366624332122c6f63d7d2d4247dd23a3060f22e21732c2602f0fd11c761cf0c637dedf6e23fff4a613a11f6063f4666760d7d2d21d20', 2, CAST(N'2019-05-02T19:05:02.717' AS DateTime), 0, 11)
INSERT [dbo].[Sessions] ([Id], [Number], [Type], [DateStart], [Expired], [UserId]) VALUES (2, N'9d4d438a514c331c135a8300c519b1b13436c3f3d308b368ac3cb04f48382aa33d3d816a501da9005189a81399b3bd906d233393cf8f1130f4130633', 2, CAST(N'2019-05-02T19:06:54.630' AS DateTime), 0, 2)
INSERT [dbo].[Sessions] ([Id], [Number], [Type], [DateStart], [Expired], [UserId]) VALUES (3, N'64594006f8003a77815f0292504f3d108662e9256fe742ef54e521220525745035052d289267690242757885222950a402d345457501d426487d18a5', 2, CAST(N'2019-05-02T19:15:59.903' AS DateTime), 0, 2)
SET IDENTITY_INSERT [dbo].[Sessions] OFF
SET IDENTITY_INSERT [dbo].[UserConnections] ON 

INSERT [dbo].[UserConnections] ([Id], [ConnectionID], [UserID], [ConnectionActiveStatus], [ConnectionTime], [ConnectionOff]) VALUES (1, N'd850c806-a4de-4f17-85f1-c228445edefc', 2, 0, CAST(N'2019-05-02T13:34:29.723' AS DateTime), NULL)
INSERT [dbo].[UserConnections] ([Id], [ConnectionID], [UserID], [ConnectionActiveStatus], [ConnectionTime], [ConnectionOff]) VALUES (2, N'39baf1ea-c84d-4a0b-b98d-6f4681c3c45f', 6, 0, CAST(N'2019-05-02T13:34:29.723' AS DateTime), NULL)
INSERT [dbo].[UserConnections] ([Id], [ConnectionID], [UserID], [ConnectionActiveStatus], [ConnectionTime], [ConnectionOff]) VALUES (3, N'cb558ce7-870d-4d1c-a275-ef1eb1ac3535', 2, 0, CAST(N'2019-05-02T13:34:29.723' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[UserConnections] OFF
SET IDENTITY_INSERT [dbo].[UserInfoes] ON 

INSERT [dbo].[UserInfoes] ([Id], [DateOfBirth], [Name], [SurName], [PrivateStatus], [Sex], [NowCountryCode], [NowSityCode]) VALUES (1, CAST(N'1990-04-04T00:00:00.000' AS DateTime), N'Иван', N'Суслов', 1, 0, 7, 495)
INSERT [dbo].[UserInfoes] ([Id], [DateOfBirth], [Name], [SurName], [PrivateStatus], [Sex], [NowCountryCode], [NowSityCode]) VALUES (2, CAST(N'1990-04-04T00:00:00.000' AS DateTime), N'Вааа', N'Ваааа', 1, 0, 7, 495)
INSERT [dbo].[UserInfoes] ([Id], [DateOfBirth], [Name], [SurName], [PrivateStatus], [Sex], [NowCountryCode], [NowSityCode]) VALUES (3, CAST(N'1990-01-01T00:00:00.000' AS DateTime), N'Fuuuuu', N'naaaaame', 1, 0, 7, 495)
GO
SET IDENTITY_INSERT [dbo].[UserInfoes] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [CountryCode], [UserStatus], [AvatarId], [Settings_Id], [UserFullInfo_Id]) VALUES (1, N'login', 1, 1, 1, 1, 1)
INSERT [dbo].[Users] ([Id], [Login], [CountryCode], [UserStatus], [AvatarId], [Settings_Id], [UserFullInfo_Id]) VALUES (2, N'login2', 7, 1, 6, 2, 3)
INSERT [dbo].[Users] ([Id], [Login], [CountryCode], [UserStatus], [AvatarId], [Settings_Id], [UserFullInfo_Id]) VALUES (5, N'login3', 1, 1, 3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[UserSettings] ON 

INSERT [dbo].[UserSettings] ([Id], [Email], [PasswordHash], [NotificationType]) VALUES (1, N'alter.22.04@gmail.com', N'4dff4ea340f0a823f15d3f4f01ab62eae0e5da579ccb851f8db9dfe84c58b2b37b89903a740e1ee172da793a6e79d560e5f7f9bd058a12a280433ed6fa46510a', 0)
INSERT [dbo].[UserSettings] ([Id], [Email], [PasswordHash], [NotificationType]) VALUES (2, N'alter.22.04@gmail.com', N'4dff4ea340f0a823f15d3f4f01ab62eae0e5da579ccb851f8db9dfe84c58b2b37b89903a740e1ee172da793a6e79d560e5f7f9bd058a12a280433ed6fa46510a', 0)
INSERT [dbo].[UserSettings] ([Id], [Email], [PasswordHash], [NotificationType]) VALUES (3, N'alter.22.04@gmail.com', N'4dff4ea340f0a823f15d3f4f01ab62eae0e5da579ccb851f8db9dfe84c58b2b37b89903a740e1ee172da793a6e79d560e5f7f9bd058a12a280433ed6fa46510a', 0)
GO
SET IDENTITY_INSERT [dbo].[UserSettings] OFF
SET IDENTITY_INSERT [dbo].[VideoConferenceGroups] ON 

INSERT [dbo].[VideoConferenceGroups] ([Id], [GuidId], [UserId]) VALUES (1, N'0f27f679-9084-4439-af65-f854c0b4fa3c', 21)
INSERT [dbo].[VideoConferenceGroups] ([Id], [GuidId], [UserId]) VALUES (2, N'0f27f679-9084-4439-af65-f854c0b4fa3c', 6)
INSERT [dbo].[VideoConferenceGroups] ([Id], [GuidId], [UserId]) VALUES (3, N'4c02011b-c2ae-453b-81e2-e0b3511bc3cc', 6)
SET IDENTITY_INSERT [dbo].[VideoConferenceGroups] OFF
SET IDENTITY_INSERT [dbo].[VideoConferences] ON 

INSERT [dbo].[VideoConferences] ([Id], [GuidId], [CreationDate], [Offer], [Answer], [ConferenceCreatorUserId], [IsActive]) VALUES (2, N'4c02011b-c2ae-453b-81e2-e0b3511bc3cc', CAST(N'2019-05-02T14:51:27.357' AS DateTime), NULL, NULL, 21, 0)
SET IDENTITY_INSERT [dbo].[VideoConferences] OFF
ALTER TABLE [dbo].[Avatars] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [UploadTime]
GO
ALTER TABLE [dbo].[Avatars] ADD  DEFAULT ((0)) FOR [IsStandart]
GO
ALTER TABLE [dbo].[Avatars] ADD  DEFAULT ('') FOR [ImgPath]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ConversationGuidId]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT ('') FOR [SityCode]
GO
ALTER TABLE [dbo].[FriendsRelationships] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [OfferSendedDate]
GO
ALTER TABLE [dbo].[FriendsRelationships] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[LifePlaces] ADD  DEFAULT ('') FOR [SityCode]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ConvarsationGuidId]
GO
ALTER TABLE [dbo].[UserInfoes] ADD  DEFAULT ((0)) FOR [Sex]
GO
ALTER TABLE [dbo].[UserInfoes] ADD  DEFAULT ((0)) FOR [NowCountryCode]
GO
ALTER TABLE [dbo].[UserInfoes] ADD  DEFAULT ((0)) FOR [NowSityCode]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT ((0)) FOR [NotificationType]
GO
ALTER TABLE [dbo].[VideoConferences] ADD  DEFAULT ((0)) FOR [ConferenceCreatorUserId]
GO
ALTER TABLE [dbo].[VideoConferences] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WorkPlaces] ADD  DEFAULT ('') FOR [SityCode]
GO
ALTER TABLE [dbo].[Educations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Educations_dbo.UserInfoes_UserInfo_Id] FOREIGN KEY([UserInfo_Id])
REFERENCES [dbo].[UserInfoes] ([Id])
GO
ALTER TABLE [dbo].[Educations] CHECK CONSTRAINT [FK_dbo.Educations_dbo.UserInfoes_UserInfo_Id]
GO
ALTER TABLE [dbo].[LifePlaces]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LifePlaces_dbo.UserInfoes_UserInfo_Id] FOREIGN KEY([UserInfo_Id])
REFERENCES [dbo].[UserInfoes] ([Id])
GO
ALTER TABLE [dbo].[LifePlaces] CHECK CONSTRAINT [FK_dbo.LifePlaces_dbo.UserInfoes_UserInfo_Id]
GO
ALTER TABLE [dbo].[MemorableEvents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MemorableEvents_dbo.UserInfoes_UserInfo_Id] FOREIGN KEY([UserInfo_Id])
REFERENCES [dbo].[UserInfoes] ([Id])
GO
ALTER TABLE [dbo].[MemorableEvents] CHECK CONSTRAINT [FK_dbo.MemorableEvents_dbo.UserInfoes_UserInfo_Id]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.UserInfoes_UserFullInfo_Id] FOREIGN KEY([UserFullInfo_Id])
REFERENCES [dbo].[UserInfoes] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.UserInfoes_UserFullInfo_Id]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.UserSettings_Settings_Id] FOREIGN KEY([Settings_Id])
REFERENCES [dbo].[UserSettings] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.UserSettings_Settings_Id]
GO
ALTER TABLE [dbo].[WorkPlaces]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WorkPlaces_dbo.UserInfoes_UserInfo_Id] FOREIGN KEY([UserInfo_Id])
REFERENCES [dbo].[UserInfoes] ([Id])
GO
ALTER TABLE [dbo].[WorkPlaces] CHECK CONSTRAINT [FK_dbo.WorkPlaces_dbo.UserInfoes_UserInfo_Id]
GO
