@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,cyrillic);

.error-container{
    width:500px;
    margin:auto;
}
span,
h1 {
    font-family: 'Roboto Condensed';
    color:#7f7f7f;
    text-align:center;
}

.message-container {
    margin: auto;
    width: 430px;
}

.redirect-click {
    color: #19444b;
    cursor: pointer;
    border: 1px solid #7f7f7f;
    padding: 2px;
    transition:all ease .5s;
}

.redirect-click:hover {
    background-color: #49B2DA;
    color: white;
}