@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,cyrillic);
h1 {
    margin: auto;
}

h1,
span {
    font-family: 'Roboto Condensed', sans-serif;
    color:#7f7f7f;
}

.title-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 64px;
}

.avatar-form{
    margin-top:10px;
}


.await-form {
    width: 500px;
    margin: auto;
    padding: 15px;
}

.img-container{
    margin:auto;
    width:200px;
}

.avatar-img {
    border-radius: 50%;
    border: 1px solid #7f7f7f;
}

.name-surname-form {
    text-align: center;
    margin: 10px 0;
}

.message-form {
    text-align: center;
    margin: 15px 0px;
}

.await-anim {
    margin: 30px 0;
}

