@using Slug.Extensions

<div id="high_school_education">
    <p><span>@Html.Translate("Education_Faculty") <input type="text" name="Faculty"></span></p>
    <p><span>@Html.Translate("Education_Speciality") <input type="text" name="Specialty"></span></p>
</div>
