@model Slug.Model.Users.MemorableEventsModel
@using Slug.Extensions

<div class="event_div">
    <p>
        @Model.EventTitle
        @if (Model.DateEvent != new DateTime())
        {
            @Model.DateEvent
        }
        @if (!string.IsNullOrWhiteSpace(Model.EventComment))
        {
            @Model.EventComment
        }
    </p>
</div>