@model Slug.Model.Users.MemorableEventsModel
@using Slug.Extensions


<div class="info-item">
    <div class="item-info">
        <h3>@Model.EventTitle</h3>
        <span>@Model.DateEvent</span>
        <span class="user-comment">«@Model.Comment»</span>
    </div>
</div>