@model Slug.Model.Users.LifePlacesModel
@using Slug.Extensions

<div class="info-item">
    <div class="item-info">
        <h3>@Model.Country @Model.City</h3>
        <span>@Model.Start - @Model.End</span>
        <span class="user-comment">«@Model.Comment»</span>
    </div>
</div>