@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,cyrillic);

h1 {
    margin: auto;
}

h1,
span {
    font-family: 'Roboto Condensed', sans-serif;
    color: #7f7f7f;
}
.await-form{
    width:400px;
    margin:auto;
}

.vk-ico-container{
    width:66px;
    margin:auto;
}