.help {
    width: auto;
    min-width:600px;
    position: relative;
}




.help-form {
    z-index: 102;
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin-bottom:100px;
    height:100%;
}

.error-message-form {
    width: 430px;
    margin: 0 auto;
}

.feed_back_innerform {
    margin: 0px 50px;
}

.feed_back_form h1 {
    width: 300px;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
}

.feed_back_form .feed_back_property {
    padding: 10px;
}

.feed_back_form {
    border: 1px solid #7f7f7f;
    /*border-radius: 4px;*/
    /*box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
}

.feed_back_form .error-message-form {
    margin-left: 10px;
}

.feed_back_form span {
    margin-left: 10px;
}

.feed_back_form select {
    color: #7f7f7f;
    width: 100%;
    font-size: 15px;
    padding: 8px;
    cursor: pointer;
    margin-left: 2px;
    font-family: 'Roboto Condensed', sans-serif;
}


.help-form button {
    border: 0;
    margin: auto auto;
    display: block;
    width: auto;
    outline: none;
    border-radius: 0;
    padding: 10px 10px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #49D1DA;
    color: #7f7f7f;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

    .help-form-form button:hover {
        color: #fff;
        background: #49B2DA;
    }



p{
    text-align:justify
}

.feed_back_property > input {
    width: 100%;
    height:30px;
    font-size: 16px;
}

textarea {
    /*height: 210px;*/
    font-size: 16px;
    width: 100%;
    resize: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: #7f7f7f;
}

.help-issue-container {
    max-width: 600px;
    width: 600px;
    background-color: white;
    border: 1px solid #7f7f7f;
    -webkit-box-shadow: 10px 12px 5px -2px rgba(19, 35, 47, 0.3);
    padding:10px;
    margin-top:15px;
    margin-bottom:15px;
}

.help-issue-container p{
    text-align:justify;
}