.found_user {
    padding: 10px;
    margin: 15px;
    background-color: white;
    min-width: 260px;
    border: 1px solid #7f7f7f;
    transition:all .5s ease;
}

.found_user:hover {
    background-color: rgb(162, 236, 243);
    -webkit-box-shadow: 10px 12px 5px -2px rgba(19, 35, 47, 0.3);
}

.result-pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 97%;
    min-width:600px;
    height: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 10px;
    -webkit-box-shadow: 10px 12px 5px -2px rgba(19, 35, 47, 0.3);
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.result-pagination .search-link-container{
    margin:4px;
    height:25px;
    transition:all .3s ease;
    border:1px solid #7f7f7f;
    min-width:30px;
    min-height:20px;
    text-align:center;
}



.result-pagination .search-link-container:hover > a{
    color:white;
    background-color: #49B2DA;
}

.selected-page-container,
.result-pagination .search-link-container:hover {
    background-color: #49B2DA;
    -webkit-box-shadow: 10px 12px 5px -2px rgba(19, 35, 47, 0.3);
}

.result-pagination .search-link-container a{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration:none;
    text-align:center;
    color:#7f7f7f;
    font-size:18px;
    position:relative;
    top:3px;
}

.fount-user-header {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    cursor:pointer;
}

.fount-user-img-container > img
{
    height:100px;
    width:100px;
}

.fount-user-header:hover > .fount-user-img-container img {
    border: 1px solid #7f7f7f;
}

.fount-user-header .fount-user-name{
    text-align:center;
}

.fount-user-header .fount-user-name span{
    font-size:18px;
    font-weight:bold;
}

.fount-user-header .fount-user-img-container{
    margin-top:10px;
    text-align:center;

}