@model Slug.Model.FullInfo.PostModel


<div class="profile-full-info-item-wrapper post">
    <div class="post-title-container">
        <h2 class="post-title">@Model.PostTitle</h2>
    </div>
    <div class="post-text-container">
        <span class="post-text">@Model.PostText</span>
    </div>
    <div class="post-date-container">
        <span class="post-date">@Model.PostedTime</span>
    </div>
</div>