
@{
   // Layout = "~/Views/Shared/Logo.cshtml";
}
@using Slug.Extensions;
<head>
    <link rel="icon" href="/Resources/images/favicon.png" type="image/x-icon">
    <link href="~/Styles/errors/error-template.css" rel="stylesheet" />
</head>
<body>
    <div class="unath-container">

        <h1>@Html.Translate("Error_Not_Fount_Title")</h1>
        <span>
            @Html.Translate("Error_Not_Fount_Message")
        </span>
            <a class="reload-link" href="~/guest/index">@Html.Translate("Here")</a>
    </div>
</body>