
@{
    //Layout = "~/Views/Shared/logo.cshtml";
}
@using Slug.Extensions;


<h2>@Html.Translate("Error_Internal_Title")</h2>
<span>@Html.Translate("Error_Internal_Message") </span>
<a href="/guest/login">@Html.Translate("Here")</a>
