@using Slug.Extensions;
<head>
    <link rel="icon" href="/Resources/images/favicon.png" type="image/x-icon">
    <link href="~/Styles/errors/oops-style.css" rel="stylesheet" />
</head>
<div class="error-container">
    <h1>@Html.Translate("Error_Internal_Title")</h1>
    <div class="message-container">
        <span>Для того что бы вернутся на главную страницу, нажмите </span>
        <span class="redirect-click" onclick="deleteCookie();">здесь</span>
    </div>
</div>
<script>
    function deleteCookie() {
        document.cookie = 'slug_session_ID' + '=; expires=Thu, 01-Jan-70 00:00:01 GMT;path=/';
        document.location.replace("/");
    }
</script>