<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log">

  <targets>
    <target xsi:type="File" name="scheduler_service_log" fileName="${basedir}/Logs/scheduledService_${shortdate}.log"
        layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />
    <target xsi:type="File" name="internal_error_log" fileName="${basedir}/Logs/internal_errors_${shortdate}.log"
    layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />
  </targets>

  <rules>
    <logger name="scheduler_service_log" minlevel="Info" writeTo="scheduler_service_log" />
    <logger name="internal_error_logger" minlevel="Error" writeTo="internal_error_log" />

    <logger />
  </rules>
 
</nlog>
