
@model Slug.Model.CryptoChat
@using Slug.Extensions


<span>@Html.Translate("Text_You_Got_Invite_Secret_Chat")</span>
    <p>
        <img src="@Model.UserCreator.AvatarPath" width="30" height="30" />
    </p>
    <button onclick="accept_invite(this)" id="@Model.GuidId">@Html.Translate("Button_Accept_Invite")</button>