@model Slug.Model.Users.FriendModel
@using Slug.Extensions

<div class="ready_to_invite_div">
    <input class="ready_to_invite" type="radio" value="@Model.UserId"> @Model.Name <img src="@Model.AvatarPath" width="30" height="30" />
</div>