@model Slug.Model.CryptoChat
@using Slug.Extensions


<div class="cryptp_chat" id="@Model.GuidId" style="background-color:azure; cursor:pointer">
    <span>@Html.Translate("Text_Self_Signed_Secret_Chat")</span>
        <p>
            <img src="@Model.UserCreator.AvatarPath" height="30" width="30" />
        </p>
    <span class="last_msg_crypto">@Model.LastMessage</span>
</div>