
.tabs {
    position: relative;
}

img {
    position: relative;
}

.accepted_user_:hover,
.invitation_user:hover {
    background-color: #a2ecf3;
    transition: all 0.5s ease;
    -webkit-box-shadow: 10px 12px 5px -2px rgba(19, 35, 47, 0.3);
}

.accepted_user_,
.invitation_user {
    background-color:white;
    cursor: pointer;
    margin: 20px;
    border: 1px solid #7f7f7f;
}

.accepted_user_ h2,
.invitation_user h2 {
    display: inline-block;
    text-align: center;
    position: absolute;
}

.accepted_user_ button,
.invitation_user button,
img {
    margin: 10px;
}

.accepted_user_ button,
.invitation_user button {
    height: 34px;
}

.entry-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    transition: all .5s ease;
    border: 1px solid #7f7f7f;
    margin-top: 15px;
}

.info{
    display:flex;
    flex-direction:row;
}

 .manage{
    margin-right: 30px;
    margin-left: auto;
}
.manage button{
    height:35px;
    margin-top:30%;
}

.entry-container:hover {
    background-color: #a2ecf3;
    -webkit-box-shadow: 10px 12px 5px -2px rgba(19, 35, 47, 0.3);
}

.contact-wrapper{
    min-width:600px;
}

.wire-status-circle {
    margin-top: 3px;
    margin-right: 10px;
}