
.tabs {
    position: relative;
}

img {
    position: relative;
}

.invitation_user:hover {
    background-color: #a2ecf3;
    padding: 10px;
    transition: all 0.5s ease;
    box-shadow: 0 0 12px 5px rgba(15, 15, 15, 0.3);
}

.invitation_user {
    cursor: pointer;
    margin: 20px;
    border: 1px solid #7f7f7f;
}

    .invitation_user h2 {
        display: inline-block;
        text-align: center;
        position: absolute;
    }

    .invitation_user button, img {
        margin: 10px;
    }

    .invitation_user button {
        height: 34px;
    }
