/*
	PROFILE CUT INFO
	PROFILE WRAPPER
	FULL INFO
	EXPAND INFO ITEM
*/


/* PROFILE CUT INFO START */
.profile-info{
	display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
	margin-left:20px;
	width:100%;
}
.profile-info-name, .profile-info-location, .profile-status-container, .profile-about{
	position:relative;
	top:40px;
	margin-bottom:10px;
}

.profile-info-name{
	height:auto;
	display:flex;
	flex-direction:row;
}

.profile-info-name h2{
	margin-right:10px;
	margin-top:0;
	margin-bottom:0;
}

select{
	cursor:pointer;
	font-size:18px;
}

/* PROFILE CUT INFO END */

/* PROFILE WRAPPER START */

.profile-full-info-item-wrapper {
    z-index: 1;
    background-color: #fff;
    position: relative;
    top: 30px;
    min-width: 600px;
    width: 600px;
    border: 1px solid #7f7f7f;
    -webkit-box-shadow: 10px 12px 5px -2px rgba(19, 35, 47, 0.3);
    padding: 20px 20px 0 20px;
    margin: 15px 0;
    transition: all 0.5s ease;
}

.profile-full-info-item-wrapper h2{
 	text-align:center;
	margin:0;
}

.profile-full-info-item-wrapper input[type="checkbox"] {
    position: relative;
    display: block;
    top: 0px;
    width: 100%;
    height: 30px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

/* PROFILE WRAPPER END */


/* FULL INFO  START */
#profile-full-info{
	position:relative;
	top:30px;
	margin-bottom:50px;
}
.info-item{
	border:1px solid #7f7f7f;
}

.expand{
	z-index:0;
	opacity:1;
	position:relative;
	top:-24px;
	left:48%;
    transition: all .5s ease-out;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: #49b2da transparent transparent transparent;
}

#education, 
#events, 
#works, 
#live_places {
    max-height: 0;
    transition: all .5s ease-out;
    overflow: hidden;
}

.info-item{
	margin:10px;
	padding:10px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	transition: all 0.5s ease;
}

.event-item {
    flex-direction: column;
    height:190px;
}
.event-item-info{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}

.event-album {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: default;
    position: relative;
    top: -10px;
    left:-8px;
}
.event-title-container{
    width:100%;
}

.event-item-info .item-delete {
    float: right;
    margin-right: 2px;
}
.event-item .item-delete button{
    float:right;
    left:0;
}

.event-album img {
    border-radius:0;
    border:1px solid #7f7f7f;
    margin-left:10px;
}

.more-container{
    margin-left:15px;
}
.more-text {
    position:relative;
    top:36%;
    cursor:pointer;
}


.item-info, .item-delete {
    width: 100%;
}

.item-info{
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	padding:2px;
}
.event-photo-container img {
    cursor:pointer;
}

.event-item-info > span,
.item-info > span {
    margin: 5px;
}

.event-item-info h3,
.item-info h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    text-align: left;
    color: #7f7f7f;
}

.manage-event{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;   
    min-width:175px;
}

.user-comment {
    font-style: italic;
}
 
.item-delete{
	text-align:center;
}
 
 /* EXPAND INFO ITEM START */
.expanded-info {
    max-height: 0;
    transition: all .5s ease-out;
    overflow: hidden;
    display:flex;
    flex-direction:column;
}

.expand-checkbox:checked + .expand {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #49b2da transparent;
}

.expand-checkbox:checked ~ .expanded-info {
    max-height: 200vh;
    transition: all .5s ease-in;
}
 /* EXPAND INFO ITEM END */


/*FULL INFO  END */

