td {
    vertical-align:top;
}

.found_user {
    padding: 10px;
    margin: 15px;
    background-color: white;
    width: 260px;
    min-height:420px;
    border: 1px solid #7f7f7f;
    transition:all .5s ease;
}

.found_user:hover {
    background-color: rgb(162, 236, 243);
    -webkit-box-shadow: 10px 12px 5px -2px rgba(19, 35, 47, 0.3);
}

.end-of-users {
    min-width: 600px;
    height: 30px;
    padding-top: 10px;
    -webkit-box-shadow: 10px 12px 11px 2px rgba(19, 35, 47, 0.3);
    border: 1px solid #afafaf;
    margin-bottom: 50px;
    padding-bottom: 20px;
    text-align:center;
}

.weight{
    font-weight:900;
}

.user-info{
    font-size:18px;
}

.vipuser-crown {
    height: 36px;
    width:65px;
    position:absolute;
    z-index: 10;
    border-radius: 0;
}

.fount-user-header {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    cursor:pointer;
}

.fount-user-img-container > .found-user-avatar {
    height: 200px;
    width: 200px;
    border:1px solid white;
}

.fount-user-header:hover > .fount-user-img-container .found-user-avatar {
    border: 1px solid #7f7f7f;
}

.fount-user-name{
    text-align:center;
    margin: 7px 0 0 0;
}

.name{
    font-size:22px;
}

.fount-user-header .fount-user-name span{
    font-size:18px;
    font-weight:bold;
}

.fount-user-header .fount-user-img-container{
    margin-top:10px;
    text-align:center;

}