body {
    font-family: 'Roboto Condensed', sans-serif;
}
.active-chat-period{
    margin-top:30px;
}
.container-in-out {
    border: 1px solid #7db7af;
    margin: 10px;
    padding: 10px;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px #82c7c8;
}

.in-content-secret {
    background-color: #aae1e6;
    margin-right: 50%;
    max-width: 50%;
    width: auto;
    display: inline-block;
}

.out-content-secret {
    background-color: #c6f8e3;
    float: right;
    clear: both;
    width: auto;
    max-width: 50%;
    display: block;
}

.crypto-message-body,
.crypto-message-header {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}

.crypto-message-header h4{
    margin:0;
}
.crypto-message-header span{
    margin-left:20px;
}

.crypt-message {
    width: 80%;
    text-align: justify;
    display: block;
    word-wrap: break-word;
    margin: 10px 0px 0px 10px;
}

.dialog {
    border: 1px solid #7db7af;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
    margin-top: 20px;
    background-color: white;
    width: 66%;
    min-width: 600px;
    -webkit-box-shadow: 10px 12px 5px -2px rgba(19, 35, 47, 0.3);
}

.lock-msg-img {
    margin: 0px 0px 0px auto;
}

.send_msg {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.text-area-container {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -43px;
}

#new_text {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-box-shadow: 10px 12px 5px -2px rgba(19, 35, 47, 0.3);
    font-size: 20px;
    height: 45px;
    color: #7f7f7f;
    resize: none;
    border: 1px solid #7db7af;
    width: 60%;
    min-width:400px;
    left: 10%;
    position: relative;
}

#sendButton {
    height: 50px;
    width: 99px;
    left: 12%;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.result-pagination {
    width: 66%;
    height: 25px;
    min-width: 600px;
    margin-bottom: 0px;
    -webkit-box-shadow:none;
}
