.in-content-secret {
    border-radius: 10px;
    border: 1px solid #7db7af;
    margin: 10px;
    padding: 10px;
    margin-right: 50%;
    /* width:50%; */
    max-width: 50%;
    width: auto;
    display: inline-block;
}

.out-content-secret {
    border: 1px solid #7db7af;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    float: right;
    clear: both;
    width: auto;
    max-width: 50%;
    display: block;
}

.triangle {
    border-right: 1px solid #7db7af;
    border-bottom: 1px solid #7db7af;
}

.dialog {
    border: 1px solid #7db7af;
    overflow-y: auto;
    overflow-x: hidden;
    height: 390px;
    margin-top:20px;
}

    .dialog img {
        border-radius: 45px;
        cursor: pointer;
    }

    .dialog p {
        font-size: 20px;
    }

    .dialog a {
        color: #7f7f7f;
        cursor: pointer;
        font-size: 20px;
        font-family: 'Roboto Condensed', sans-serif;
        display: inline;
    }

    .dialog p {
        margin: 10px 0 0 0;
    }

    .dialog span {
        top: 0;
    }


.lock-msg-img {
    position: relative;
    float: right;
}

.send_msg textarea {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 120px;
    color: #7f7f7f;
    resize: none;
    border: 1px solid #7db7af;
}

#sendButton {
    position: absolute;
    left: 45%;
    height: 50px;
}

.dialog_pages a {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline;
    font-size: 24px;
    background-color: #7db7af;
    color: #fff;
    transition: all 0.5s ease;
    /*margin: 2px 2px 0 0;*/
    padding: 5px 10px 0px 10px;
    border: 1px solid #7f7f7f;
}

    .dialog_pages a:hover {
        color: #7f7f7f;
        background-color: #a2ecf3;
    }
.triangle {
    border-right: 1px solid #7db7af;
    border-bottom: 1px solid #7db7af;
}