.tab, .tab-title {
    display: inline-block;
}

.tab input[name="tab-group"] {
    display: none;
}

.tabs {
min-width:600px;
}

.tab-title {
    background: #49B2DA;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    cursor: pointer;
    font-size: 18px;
}

.tab-content {
    position: absolute;
    /*border: 2px solid #ddd;*/
    padding: 15px;
    left: 0;
    width: 66%;
    min-width: 600px;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition:all 1s ease;
}


.tab :checked + .tab-title {
    position: relative;
    background: #a2ecf3;
    color: #525252;
    z-index: 1;
    transition: all 0.5s ease;
}

.tab :checked ~ .tab-content {
    display: block;
}
