
.triangle_wrapper_in {
    display: block;
    position: relative;
    left: 5%;
    bottom: -10px;
    width: 50px;
    height: 0;
}

.triangle_wrapper_out {
    position: relative;
    right: -70%;
    bottom: -10px;
    width: 50px;
    height: 0;
}

.triangle_container {
    width: 34px;
    height: 41px;
    position: relative;
    border-top: 1px solid #fff;
}


.triangle {
    position: absolute;
    margin: auto;
    top: -12px;
    left: 0;
    right: 0;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /*border-right: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;*/
}
