@model Slug.Model.VideoConference.CallModel
@using Slug.Extensions


<div class="call-item-wrapper" id="@Model.CallerUserId">
    <div class="call-item info-avatar">
        <img alt="test" src="https://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_80,w_80,c_thumb,g_face/v1555678151/users/avatars/vxwcda0dxcxn5nlruo7b.png">
    </div>
    <div class="call-item info-data">
        <div class="call-item info-user">
            <h2>Дима Савельев</h2>
            <span>@Model.Date</span>
        </div>
        <div class="call-item info-status">
            <div class="phone-wrapper">
                <span>Входящий звонок</span>
                <img alt="test" src="https://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_45/v1555664002/close_call.png" />
            </div>
        </div>
    </div>
</div>