@model Slug.Model.Users.FriendModel
@using Slug.Extensions


<div class="friend_div" id="@Model.UserId">
    <img src="@Model.AvatarPath" height="50" width="50" /> <span>@Model.Name  @Model.SurName</span>
</div>