.grey-background {
    background-color: rgba(162, 208, 240, 0.36);
    transition: all .4s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 998;
    margin-top: -30px;
    margin-left: -10px;
}

.message-container {
    border: 2px solid #49b2da;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    top: 41%;
    left: 41%;
    position: absolute;
    max-width: 400px;
    min-width: 400px;
    z-index: 999;
    flex-direction: column;
    padding: 10px;
}

.alert-text {
    color: red;
    text-align: center;
}

.close-alert-button {
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.hide{
    display:none;
}

.show{
    display:flex;
}

@-webkit-keyframes AlertGotMessage {
    0% {
        background-color: white;
    }
    25% {
        background-color: rgba(162, 236, 243, 0.5);
    }
    50% {
        background-color: rgba(162, 236, 243, 1);
    }
    75% {
        background-color: rgba(162, 236, 243, 0.5);
    }
    100% {
        background-color: white;
    }
}