body {
    background-color: #0094ff
}

#guest_header {
   background-color: #073349;

}
    #guest_header img {
        margin-left: auto;
        margin-right: auto;
        display:flex
    }

#guest_footer {
    background-color: #073349;
}
    #guest_footer img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }


