USE [slugDtB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivationLinks]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivationLinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActivationParam] [nvarchar](120) NULL,
	[IsExpired] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ActivationLinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[AlbumLabelUrl] [nvarchar](max) NOT NULL,
	[User_Id] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[AlbumLabesPublicID] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Albums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avatars]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avatars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
	[IsStandart] [bit] NOT NULL,
	[CountryCode] [int] NULL,
	[ImgPath] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Avatars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CitiesCode] [int] NOT NULL,
	[Language] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[CountryCode] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationGroups]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationGuidId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ConversationGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationGuidId] [uniqueidentifier] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Conversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [int] NOT NULL,
	[Language] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educations]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserInfo_Id] [int] NULL,
	[EducationType] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Faculty] [nvarchar](max) NULL,
	[Specialty] [nvarchar](max) NULL,
	[CountryCode] [int] NOT NULL,
	[UntilNow] [bit] NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NULL,
	[Comment] [nvarchar](500) NULL,
	[PersonalRating] [int] NOT NULL,
	[SityCode] [int] NOT NULL,
	[EntryId] [uniqueidentifier] NOT NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Educations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FotoComments]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FotoComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserCommenter] [int] NOT NULL,
	[CommentText] [nvarchar](max) NOT NULL,
	[CommentWriteDate] [datetime] NOT NULL,
	[Foto_Id] [int] NULL,
 CONSTRAINT [PK_dbo.FotoComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fotoes]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fotoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FotoGUID] [uniqueidentifier] NOT NULL,
	[AlbumID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NOT NULL,
	[UploadDate] [datetime] NOT NULL,
	[UploadUserID] [int] NOT NULL,
	[ImagePublicID] [nvarchar](max) NOT NULL,
	[PositiveRating] [int] NOT NULL,
	[NegativeRating] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Fotoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FriendsRelationships]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FriendsRelationships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserConfirmer] [int] NOT NULL,
	[OfferSendedDate] [datetime] NOT NULL,
	[UserOferFrienshipSender] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FriendsRelationships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LifePlaces]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LifePlaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserInfo_Id] [int] NULL,
	[CountryCode] [int] NOT NULL,
	[UntilNow] [bit] NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NULL,
	[Comment] [nvarchar](500) NULL,
	[PersonalRating] [int] NOT NULL,
	[SityCode] [int] NOT NULL,
	[EntryId] [uniqueidentifier] NOT NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.LifePlaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemorableEvents]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemorableEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserInfo_Id] [int] NULL,
	[EventTitle] [nvarchar](max) NOT NULL,
	[EventComment] [nvarchar](max) NULL,
	[DateEvent] [datetime] NULL,
	[EntryId] [uniqueidentifier] NOT NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.MemorableEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 6/5/2019 7:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Text] [nvarchar](max) NULL,
	[SendingDate] [datetime] NOT NULL,
	[IsReaded] [bit] NOT NULL,
	[ConvarsationGuidId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecretChatGroups]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecretChatGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PartyGUID] [uniqueidentifier] NOT NULL,
	[Accepted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SecretChatGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecretChats]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecretChats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Create] [datetime] NOT NULL,
	[Destroy] [datetime] NOT NULL,
	[PartyGuid] [uniqueidentifier] NOT NULL,
	[CreatorUserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SecretChats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecretMessages]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecretMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartyId] [nvarchar](36) NOT NULL,
	[UserSender] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[SendingDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SecretMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](120) NOT NULL,
	[Type] [int] NOT NULL,
	[DateStart] [datetime] NOT NULL,
	[Expired] [bit] NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_dbo.Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionTypes]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.SessionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserConnections]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserConnections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConnectionId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[ConnectionTime] [datetime] NOT NULL,
	[ConnectionActiveStatus] [bit] NOT NULL,
	[ConnectionOff] [datetime] NULL,
	[IpAddress] [nvarchar](max) NOT NULL,
	[CultureCode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.UserConnections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfoes]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrivateStatus] [int] NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[SurName] [nvarchar](20) NOT NULL,
	[NowCountryCode] [int] NOT NULL,
	[NowSityCode] [int] NOT NULL,
	[Sex] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [int] NOT NULL,
	[UserStatus] [int] NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[AvatarId] [int] NULL,
	[UserFullInfo_Id] [int] NULL,
	[Settings_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[NotificationType] [int] NOT NULL,
	[QuickMessage] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStatuses]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.UserStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoConferenceGroups]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoConferenceGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuidId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VideoConferenceGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoConferences]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoConferences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuidId] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Offer] [nvarchar](max) NULL,
	[Answer] [nvarchar](max) NULL,
	[ConferenceCreatorUserId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.VideoConferences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkPlaces]    Script Date: 6/5/2019 7:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkPlaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserInfo_Id] [int] NULL,
	[CompanyTitle] [nvarchar](max) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[CountryCode] [int] NOT NULL,
	[UntilNow] [bit] NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NULL,
	[Comment] [nvarchar](500) NULL,
	[PersonalRating] [int] NOT NULL,
	[SityCode] [int] NOT NULL,
	[EntryId] [uniqueidentifier] NOT NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.WorkPlaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivationLinks] ON 

INSERT [dbo].[ActivationLinks] ([Id], [ActivationParam], [IsExpired], [UserId]) VALUES (1, N'6f7b010008e8ad8ff9ee139d1478f9dbbd0088e3e72dd0778101f00488747f8178e40443792b872779a66497d8d80de708a9ddad270007f87d726888', 1, 1)
INSERT [dbo].[ActivationLinks] ([Id], [ActivationParam], [IsExpired], [UserId]) VALUES (2, N'957a9419747bc89def4d4d81ef57d770c8f8d3dd883f7d455fdfff288fee88748d8df2dc9329833bf87d088977ffd7b3e880f99e8f7ffff9ff728988', 1, 1)
INSERT [dbo].[ActivationLinks] ([Id], [ActivationParam], [IsExpired], [UserId]) VALUES (1002, N'f6b55ceba2d3d552dab6e557daa50bee342b65f5b2effcb555735d25fb25f355722fddb65f562f2d5f24fe32e43235d242b52723b558d5ee25ef35fd', 1, 1)
SET IDENTITY_INSERT [dbo].[ActivationLinks] OFF
INSERT [dbo].[Albums] ([Id], [Title], [CreateUserID], [CreationDate], [AlbumLabelUrl], [User_Id], [Description], [AlbumLabesPublicID]) VALUES (N'2b9de816-9398-4d59-aaaf-3ab119b8f7b6', N'новый альбом', 129, CAST(N'2019-05-29T15:36:01.227' AS DateTime), N'https://res.cloudinary.com/dlk1sqmj4/image/upload/v1557838909/system/template.jpg', 129, N'описание нового альбома', NULL)
INSERT [dbo].[Albums] ([Id], [Title], [CreateUserID], [CreationDate], [AlbumLabelUrl], [User_Id], [Description], [AlbumLabesPublicID]) VALUES (N'61119b10-7362-4c6e-ab46-99de96836ac4', N'Единный Альбом', 138, CAST(N'2019-05-16T13:39:31.970' AS DateTime), N'https://res.cloudinary.com/dlk1sqmj4/image/upload/v1558003171/users/albums/61119b10-7362-4c6e-ab46-99de96836ac4/dkveaf8ahzbnlbzz2wet.png', 138, NULL, N'users/albums/61119b10-7362-4c6e-ab46-99de96836ac4/dkveaf8ahzbnlbzz2wet')
SET IDENTITY_INSERT [dbo].[Avatars] ON 

INSERT [dbo].[Avatars] ([Id], [UploadTime], [IsStandart], [CountryCode], [ImgPath]) VALUES (1, CAST(N'2019-03-18T00:00:00.000' AS DateTime), 1, 1, N'https://res.cloudinary.com/dlk1sqmj4/image/upload/v1552742058/usa1.jpg')
INSERT [dbo].[Avatars] ([Id], [UploadTime], [IsStandart], [CountryCode], [ImgPath]) VALUES (2, CAST(N'2019-03-18T00:00:00.000' AS DateTime), 1, 7, N'https://res.cloudinary.com/dlk1sqmj4/image/upload/v1552741998/rus1.png')
INSERT [dbo].[Avatars] ([Id], [UploadTime], [IsStandart], [CountryCode], [ImgPath]) VALUES (3, CAST(N'2019-04-19T12:49:12.137' AS DateTime), 0, NULL, N'https://res.cloudinary.com/dlk1sqmj4/image/upload/v1555678151/users/avatars/vxwcda0dxcxn5nlruo7b.png')
SET IDENTITY_INSERT [dbo].[Avatars] OFF
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [CitiesCode], [Language], [Title], [CountryCode]) VALUES (1, 495, 0, N'Moskow', 7)
INSERT [dbo].[Cities] ([Id], [CitiesCode], [Language], [Title], [CountryCode]) VALUES (2, 495, 1, N'Москва', 7)
INSERT [dbo].[Cities] ([Id], [CitiesCode], [Language], [Title], [CountryCode]) VALUES (3, 718, 0, N'New York City', 1)
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[ConversationGroups] ON 

INSERT [dbo].[ConversationGroups] ([Id], [ConversationGuidId], [UserId]) VALUES (1, N'b6a42a00-7dd7-45fa-9d00-54a7672da1d8', 1)
INSERT [dbo].[ConversationGroups] ([Id], [ConversationGuidId], [UserId]) VALUES (2, N'b6a42a00-7dd7-45fa-9d00-54a7672da1d8', 2)
INSERT [dbo].[ConversationGroups] ([Id], [ConversationGuidId], [UserId]) VALUES (3, N'25942a6f-0dd5-45e3-982f-391e8f6ef83d', 138)
SET IDENTITY_INSERT [dbo].[ConversationGroups] OFF
SET IDENTITY_INSERT [dbo].[Conversations] ON 

INSERT [dbo].[Conversations] ([Id], [ConversationGuidId], [CreatedDateTime]) VALUES (1, N'b6a42a00-7dd7-45fa-9d00-54a7672da1d8', CAST(N'2019-04-23T08:37:30.967' AS DateTime))
INSERT [dbo].[Conversations] ([Id], [ConversationGuidId], [CreatedDateTime]) VALUES (2, N'25942a6f-0dd5-45e3-982f-391e8f6ef83d', CAST(N'2019-05-20T08:01:51.367' AS DateTime))
INSERT [dbo].[Conversations] ([Id], [ConversationGuidId], [CreatedDateTime]) VALUES (3, N'2f1ea894-d296-45b1-8862-4bc1a2bbced4', CAST(N'2019-06-04T16:39:02.050' AS DateTime))
SET IDENTITY_INSERT [dbo].[Conversations] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [CountryCode], [Language], [Title]) VALUES (1, 1, 0, N'USA')
INSERT [dbo].[Countries] ([Id], [CountryCode], [Language], [Title]) VALUES (2, 1, 1, N'США')
INSERT [dbo].[Countries] ([Id], [CountryCode], [Language], [Title]) VALUES (3, 7, 0, N'Russia')
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Educations] ON 

INSERT [dbo].[Educations] ([Id], [UserInfo_Id], [EducationType], [Title], [Faculty], [Specialty], [CountryCode], [UntilNow], [Start], [End], [Comment], [PersonalRating], [SityCode], [EntryId], [User_Id]) VALUES (4, 138, 0, N'Начальная школа 133', NULL, NULL, 7, 0, CAST(N'1991-01-01T00:00:00.000' AS DateTime), CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'комеентарий про школу.', 0, 495, N'4c59d507-6eb5-4a7c-be99-ebc87f3a9dc7', 138)
INSERT [dbo].[Educations] ([Id], [UserInfo_Id], [EducationType], [Title], [Faculty], [Specialty], [CountryCode], [UntilNow], [Start], [End], [Comment], [PersonalRating], [SityCode], [EntryId], [User_Id]) VALUES (5, 138, 1, N'Колледж 10', N'Программирование на ++', N'ИТ', 7, 0, CAST(N'2001-01-01T00:00:00.000' AS DateTime), CAST(N'2005-01-01T00:00:00.000' AS DateTime), N'Колледж комент.', 0, 495, N'f8222fbe-6e36-42c6-b389-9cbf1a74d551', 138)
INSERT [dbo].[Educations] ([Id], [UserInfo_Id], [EducationType], [Title], [Faculty], [Specialty], [CountryCode], [UntilNow], [Start], [End], [Comment], [PersonalRating], [SityCode], [EntryId], [User_Id]) VALUES (6, 138, 2, N'Универ 1', N'ВчМат', N'ИТиВТ', 7, 0, CAST(N'2007-01-01T00:00:00.000' AS DateTime), CAST(N'2011-01-01T00:00:00.000' AS DateTime), N'А теперь коммент про универ', 0, 495, N'c7ebc401-f4b9-4768-9f9f-9e86d4f458ea', 138)
SET IDENTITY_INSERT [dbo].[Educations] OFF
SET IDENTITY_INSERT [dbo].[FotoComments] ON 

INSERT [dbo].[FotoComments] ([Id], [UserCommenter], [CommentText], [CommentWriteDate], [Foto_Id]) VALUES (2, 1, N'тоже норма', CAST(N'1999-12-12T00:00:00.000' AS DateTime), 1002)
INSERT [dbo].[FotoComments] ([Id], [UserCommenter], [CommentText], [CommentWriteDate], [Foto_Id]) VALUES (1005, 129, N'комент от друга', CAST(N'2019-05-20T12:51:53.717' AS DateTime), 1002)
INSERT [dbo].[FotoComments] ([Id], [UserCommenter], [CommentText], [CommentWriteDate], [Foto_Id]) VALUES (1006, 138, N'комент от меня', CAST(N'2019-05-20T12:52:31.723' AS DateTime), 1002)
SET IDENTITY_INSERT [dbo].[FotoComments] OFF
SET IDENTITY_INSERT [dbo].[Fotoes] ON 

INSERT [dbo].[Fotoes] ([Id], [FotoGUID], [AlbumID], [Title], [Url], [UploadDate], [UploadUserID], [ImagePublicID], [PositiveRating], [NegativeRating], [Description]) VALUES (1002, N'70cbf8fa-a8df-4957-89cf-d30a57fa2023', N'61119b10-7362-4c6e-ab46-99de96836ac4', NULL, N'https://res.cloudinary.com/dlk1sqmj4/image/upload/v1558003208/users/albums/61119b10-7362-4c6e-ab46-99de96836ac4/stvtg7r3uegjswpjyvtk.png', CAST(N'2019-05-16T13:40:09.470' AS DateTime), 138, N'users/albums/61119b10-7362-4c6e-ab46-99de96836ac4/stvtg7r3uegjswpjyvtk', 0, 0, NULL)
INSERT [dbo].[Fotoes] ([Id], [FotoGUID], [AlbumID], [Title], [Url], [UploadDate], [UploadUserID], [ImagePublicID], [PositiveRating], [NegativeRating], [Description]) VALUES (1018, N'4356ef50-a57a-4aad-9caa-87f9ef2c0b09', N'2b9de816-9398-4d59-aaaf-3ab119b8f7b6', NULL, N'https://res.cloudinary.com/dlk1sqmj4/image/upload/v1559572969/users/albums/2b9de816-9398-4d59-aaaf-3ab119b8f7b6/p3ngui1hrsk167cwjeic.jpg', CAST(N'2019-06-03T17:42:49.697' AS DateTime), 129, N'users/albums/2b9de816-9398-4d59-aaaf-3ab119b8f7b6/p3ngui1hrsk167cwjeic', 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Fotoes] OFF
SET IDENTITY_INSERT [dbo].[FriendsRelationships] ON 

INSERT [dbo].[FriendsRelationships] ([Id], [UserConfirmer], [OfferSendedDate], [UserOferFrienshipSender], [Status]) VALUES (1, 2, CAST(N'2019-04-26T09:54:58.103' AS DateTime), 1, 3)
INSERT [dbo].[FriendsRelationships] ([Id], [UserConfirmer], [OfferSendedDate], [UserOferFrienshipSender], [Status]) VALUES (2, 129, CAST(N'2019-05-16T10:42:18.950' AS DateTime), 138, 2)
INSERT [dbo].[FriendsRelationships] ([Id], [UserConfirmer], [OfferSendedDate], [UserOferFrienshipSender], [Status]) VALUES (3, 143, CAST(N'2019-05-20T15:22:27.457' AS DateTime), 129, 1)
SET IDENTITY_INSERT [dbo].[FriendsRelationships] OFF
SET IDENTITY_INSERT [dbo].[LifePlaces] ON 

INSERT [dbo].[LifePlaces] ([Id], [UserInfo_Id], [CountryCode], [UntilNow], [Start], [End], [Comment], [PersonalRating], [SityCode], [EntryId], [User_Id]) VALUES (4, 138, 7, 0, CAST(N'2012-01-01T00:00:00.000' AS DateTime), CAST(N'2013-01-01T00:00:00.000' AS DateTime), N'неплохо пожил, но уехал', 0, 495, N'0b98308b-29ea-4c08-b44d-127c26718ae9', 138)
INSERT [dbo].[LifePlaces] ([Id], [UserInfo_Id], [CountryCode], [UntilNow], [Start], [End], [Comment], [PersonalRating], [SityCode], [EntryId], [User_Id]) VALUES (5, 138, 1, 1, CAST(N'2013-01-01T00:00:00.000' AS DateTime), NULL, N'до сих пор тут живу', 0, 718, N'f42b5778-8eeb-4b77-bf31-91edf6c1c7c2', 138)
SET IDENTITY_INSERT [dbo].[LifePlaces] OFF
SET IDENTITY_INSERT [dbo].[MemorableEvents] ON 

INSERT [dbo].[MemorableEvents] ([Id], [UserInfo_Id], [EventTitle], [EventComment], [DateEvent], [EntryId], [User_Id]) VALUES (2, 138, N'Свадьба', N'тамада был отстой', CAST(N'2012-01-01T00:00:00.000' AS DateTime), N'56f119c4-a11b-4812-8f6f-cdad9543a3e6', 138)
SET IDENTITY_INSERT [dbo].[MemorableEvents] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [UserId], [Text], [SendingDate], [IsReaded], [ConvarsationGuidId]) VALUES (1, 1, N'1', CAST(N'2019-04-23T12:06:04.830' AS DateTime), 0, N'b6a42a00-7dd7-45fa-9d00-54a7672da1d8')
INSERT [dbo].[Messages] ([Id], [UserId], [Text], [SendingDate], [IsReaded], [ConvarsationGuidId]) VALUES (2, 1, N'2', CAST(N'2019-04-23T12:06:07.967' AS DateTime), 0, N'b6a42a00-7dd7-45fa-9d00-54a7672da1d8')
INSERT [dbo].[Messages] ([Id], [UserId], [Text], [SendingDate], [IsReaded], [ConvarsationGuidId]) VALUES (3, 1, N'3', CAST(N'2019-04-23T12:06:09.597' AS DateTime), 0, N'b6a42a00-7dd7-45fa-9d00-54a7672da1d8')
GO
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[SecretChatGroups] ON 

INSERT [dbo].[SecretChatGroups] ([Id], [UserId], [PartyGUID], [Accepted]) VALUES (1, 138, N'8eebf112-e1cc-4dbc-9da8-8283110d3367', 1)
INSERT [dbo].[SecretChatGroups] ([Id], [UserId], [PartyGUID], [Accepted]) VALUES (2, 129, N'8eebf112-e1cc-4dbc-9da8-8283110d3367', 1)
SET IDENTITY_INSERT [dbo].[SecretChatGroups] OFF
SET IDENTITY_INSERT [dbo].[SecretChats] ON 

INSERT [dbo].[SecretChats] ([Id], [Create], [Destroy], [PartyGuid], [CreatorUserId]) VALUES (1, CAST(N'2019-05-21T11:20:18.803' AS DateTime), CAST(N'2019-05-21T12:20:18.803' AS DateTime), N'8eebf112-e1cc-4dbc-9da8-8283110d3367', 129)
SET IDENTITY_INSERT [dbo].[SecretChats] OFF
SET IDENTITY_INSERT [dbo].[SecretMessages] ON 

INSERT [dbo].[SecretMessages] ([Id], [PartyId], [UserSender], [Text], [SendingDate]) VALUES (1, N'9d2e68d1-92f9-4b7e-b971-0c08324c9394', 1, N'U2FsdGVkX1967kPkRkekwKOM1teIuBSAIVx9m/CnV5U=', CAST(N'2019-04-24T15:39:37.307' AS DateTime))
INSERT [dbo].[SecretMessages] ([Id], [PartyId], [UserSender], [Text], [SendingDate]) VALUES (2, N'9d2e68d1-92f9-4b7e-b971-0c08324c9394', 1, N'U2FsdGVkX18D8W5+EfzUqBqeAaetcq93HKSFwDWSJOI=', CAST(N'2019-04-24T15:39:45.413' AS DateTime))
INSERT [dbo].[SecretMessages] ([Id], [PartyId], [UserSender], [Text], [SendingDate]) VALUES (3, N'9d2e68d1-92f9-4b7e-b971-0c08324c9394', 2, N'U2FsdGVkX18thpPjkTJjr7/ddPxDpTolaAn4J+Od8Dg=', CAST(N'2019-04-24T15:39:50.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[SecretMessages] OFF
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([Id], [Number], [Type], [DateStart], [Expired], [UserId]) VALUES (1, N'daaa9b6aca8abf8cc7da0532ac5c737b2fa698bc23a5a0a83cb306dadbdbbcb3d22b3aa3aab3a65ab29bbb5c6fa0ca78af3b823a9f63bb320b5a8b38', 2, CAST(N'2019-03-06T16:35:38.563' AS DateTime), 0, 1)
INSERT [dbo].[Sessions] ([Id], [Number], [Type], [DateStart], [Expired], [UserId]) VALUES (2, N'13bedafbe9cf5df7d965b7bbf5beba55edfab8e0ec5e3b60177f3f09f3ca0fcf1bac22aee83ac92b5ec2b3f90bebacc2683facb9b3dfde2dae0bf10a', 2, CAST(N'2019-03-06T16:37:04.827' AS DateTime), 0, 1)
INSERT [dbo].[Sessions] ([Id], [Number], [Type], [DateStart], [Expired], [UserId]) VALUES (3, N'42b55adfcaca90a656c9c6c9a29c470af0fbd2979107e6ffc209002fd967e65caa65a509c174790777b796679c0f576f56ff519a5caffcc5efaf6bd0', 2, CAST(N'2019-03-06T16:41:08.970' AS DateTime), 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Sessions] OFF
SET IDENTITY_INSERT [dbo].[UserConnections] ON 

INSERT [dbo].[UserConnections] ([Id], [ConnectionId], [UserId], [ConnectionTime], [ConnectionActiveStatus], [ConnectionOff], [IpAddress], [CultureCode]) VALUES (1, N'5dd1e5b2-ffd3-44b5-a740-ee9ed8a80703', 129, CAST(N'2019-06-05T14:06:25.633' AS DateTime), 0, NULL, N'::1', N'ru-RU')
INSERT [dbo].[UserConnections] ([Id], [ConnectionId], [UserId], [ConnectionTime], [ConnectionActiveStatus], [ConnectionOff], [IpAddress], [CultureCode]) VALUES (2, N'4bf74063-4ee7-4a72-b951-9f5752ade6d8', 129, CAST(N'2019-06-05T14:06:32.317' AS DateTime), 0, NULL, N'::1', N'ru-RU')
INSERT [dbo].[UserConnections] ([Id], [ConnectionId], [UserId], [ConnectionTime], [ConnectionActiveStatus], [ConnectionOff], [IpAddress], [CultureCode]) VALUES (3, N'55453dbe-4ff1-45fb-a3d4-0f8b5844990e', 138, CAST(N'2019-06-05T14:06:34.070' AS DateTime), 0, NULL, N'::1', N'ru-RU')
SET IDENTITY_INSERT [dbo].[UserConnections] OFF
SET IDENTITY_INSERT [dbo].[UserInfoes] ON 

INSERT [dbo].[UserInfoes] ([Id], [PrivateStatus], [DateOfBirth], [Name], [SurName], [NowCountryCode], [NowSityCode], [Sex]) VALUES (1, 0, CAST(N'1990-12-12T00:00:00.000' AS DateTime), N'Ivan', N'Dorn', 1, 718, 0)
INSERT [dbo].[UserInfoes] ([Id], [PrivateStatus], [DateOfBirth], [Name], [SurName], [NowCountryCode], [NowSityCode], [Sex]) VALUES (2, 0, CAST(N'1990-12-12T00:00:00.000' AS DateTime), N'Alex', N'Smit', 1, 718, 0)
INSERT [dbo].[UserInfoes] ([Id], [PrivateStatus], [DateOfBirth], [Name], [SurName], [NowCountryCode], [NowSityCode], [Sex]) VALUES (3, 0, CAST(N'1989-12-12T00:00:00.000' AS DateTime), N'фыыыы', N'имя', 7, 495, 0)
SET IDENTITY_INSERT [dbo].[UserInfoes] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [CountryCode], [UserStatus], [Login], [AvatarId], [UserFullInfo_Id], [Settings_Id]) VALUES (1, 7, 1, N'login1', 1, 1, 1)
INSERT [dbo].[Users] ([Id], [CountryCode], [UserStatus], [Login], [AvatarId], [UserFullInfo_Id], [Settings_Id]) VALUES (2, 1, 1, N'login2', 2, 2, 2)
INSERT [dbo].[Users] ([Id], [CountryCode], [UserStatus], [Login], [AvatarId], [UserFullInfo_Id], [Settings_Id]) VALUES (3, 7, 1, N'login3', 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[UserSettings] ON 

INSERT [dbo].[UserSettings] ([Id], [Email], [PasswordHash], [NotificationType], [QuickMessage]) VALUES (1, N'alter.22.04@gmail.com', N'4DFF4EA340F0A823F15D3F4F01AB62EAE0E5DA579CCB851F8DB9DFE84C58B2B37B89903A740E1EE172DA793A6E79D560E5F7F9BD058A12A280433ED6FA46510A', 0, 1)
INSERT [dbo].[UserSettings] ([Id], [Email], [PasswordHash], [NotificationType], [QuickMessage]) VALUES (2, N'alter.22.04@gmail.com', N'4DFF4EA340F0A823F15D3F4F01AB62EAE0E5DA579CCB851F8DB9DFE84C58B2B37B89903A740E1EE172DA793A6E79D560E5F7F9BD058A12A280433ED6FA46510A', 0, 1)
INSERT [dbo].[UserSettings] ([Id], [Email], [PasswordHash], [NotificationType], [QuickMessage]) VALUES (3, N'alter.22.04@gmail.com', N'4DFF4EA340F0A823F15D3F4F01AB62EAE0E5DA579CCB851F8DB9DFE84C58B2B37B89903A740E1EE172DA793A6E79D560E5F7F9BD058A12A280433ED6FA46510A', 0, 1)
SET IDENTITY_INSERT [dbo].[UserSettings] OFF
SET IDENTITY_INSERT [dbo].[VideoConferenceGroups] ON 

INSERT [dbo].[VideoConferenceGroups] ([Id], [GuidId], [UserId]) VALUES (1, N'7082bd0a-8404-4b18-a657-a84d6050b7b3', 2)
INSERT [dbo].[VideoConferenceGroups] ([Id], [GuidId], [UserId]) VALUES (2, N'7082bd0a-8404-4b18-a657-a84d6050b7b3', 1)
INSERT [dbo].[VideoConferenceGroups] ([Id], [GuidId], [UserId]) VALUES (3, N'ae45fa4c-a29a-4507-8084-6b62fece57f4', 2)
GO
SET IDENTITY_INSERT [dbo].[VideoConferenceGroups] OFF
SET IDENTITY_INSERT [dbo].[VideoConferences] ON 

SET IDENTITY_INSERT [dbo].[VideoConferences] OFF
SET IDENTITY_INSERT [dbo].[WorkPlaces] ON 

INSERT [dbo].[WorkPlaces] ([Id], [UserInfo_Id], [CompanyTitle], [Position], [CountryCode], [UntilNow], [Start], [End], [Comment], [PersonalRating], [SityCode], [EntryId], [User_Id]) VALUES (3, 138, N'Asp Company Moskow', N'разработчик unity', 7, 0, CAST(N'2012-01-01T00:00:00.000' AS DateTime), CAST(N'2013-01-01T00:00:00.000' AS DateTime), N'отстой работа, зп никакой', 0, 495, N'ef92d319-29b8-43e9-89dd-dc753bb77c01', 138)
INSERT [dbo].[WorkPlaces] ([Id], [UserInfo_Id], [CompanyTitle], [Position], [CountryCode], [UntilNow], [Start], [End], [Comment], [PersonalRating], [SityCode], [EntryId], [User_Id]) VALUES (4, 138, N'Dot Net New-York', N'Старший разработчик unity', 1, 1, CAST(N'2013-01-01T00:00:00.000' AS DateTime), NULL, N'норм место', 0, 718, N'882dbbbb-17d1-4d96-a390-66e3ff84757e', 138)
SET IDENTITY_INSERT [dbo].[WorkPlaces] OFF
ALTER TABLE [dbo].[ActivationLinks] ADD  DEFAULT ((0)) FOR [IsExpired]
GO
ALTER TABLE [dbo].[ActivationLinks] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[Avatars] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [UploadTime]
GO
ALTER TABLE [dbo].[Avatars] ADD  DEFAULT ((0)) FOR [IsStandart]
GO
ALTER TABLE [dbo].[Avatars] ADD  DEFAULT ('') FOR [ImgPath]
GO
ALTER TABLE [dbo].[Cities] ADD  DEFAULT ((0)) FOR [CountryCode]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ConversationGuidId]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT ((0)) FOR [EducationType]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT ('') FOR [Title]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT ((0)) FOR [CountryCode]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT ((0)) FOR [UntilNow]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Start]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT ((0)) FOR [PersonalRating]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [EntryId]
GO
ALTER TABLE [dbo].[Fotoes] ADD  DEFAULT ((0)) FOR [PositiveRating]
GO
ALTER TABLE [dbo].[Fotoes] ADD  DEFAULT ((0)) FOR [NegativeRating]
GO
ALTER TABLE [dbo].[FriendsRelationships] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [OfferSendedDate]
GO
ALTER TABLE [dbo].[FriendsRelationships] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[LifePlaces] ADD  DEFAULT ((0)) FOR [CountryCode]
GO
ALTER TABLE [dbo].[LifePlaces] ADD  DEFAULT ((0)) FOR [UntilNow]
GO
ALTER TABLE [dbo].[LifePlaces] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Start]
GO
ALTER TABLE [dbo].[LifePlaces] ADD  DEFAULT ((0)) FOR [PersonalRating]
GO
ALTER TABLE [dbo].[LifePlaces] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [EntryId]
GO
ALTER TABLE [dbo].[MemorableEvents] ADD  DEFAULT ('') FOR [EventTitle]
GO
ALTER TABLE [dbo].[MemorableEvents] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [EntryId]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ConvarsationGuidId]
GO
ALTER TABLE [dbo].[SecretChatGroups] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [PartyGUID]
GO
ALTER TABLE [dbo].[SecretChatGroups] ADD  DEFAULT ((0)) FOR [Accepted]
GO
ALTER TABLE [dbo].[SecretChats] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [PartyGuid]
GO
ALTER TABLE [dbo].[SecretChats] ADD  DEFAULT ((0)) FOR [CreatorUserId]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ('') FOR [Number]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateStart]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ((0)) FOR [Expired]
GO
ALTER TABLE [dbo].[UserConnections] ADD  DEFAULT ((0)) FOR [ConnectionActiveStatus]
GO
ALTER TABLE [dbo].[UserConnections] ADD  DEFAULT ('') FOR [IpAddress]
GO
ALTER TABLE [dbo].[UserConnections] ADD  DEFAULT ('') FOR [CultureCode]
GO
ALTER TABLE [dbo].[UserInfoes] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateOfBirth]
GO
ALTER TABLE [dbo].[UserInfoes] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[UserInfoes] ADD  DEFAULT ('') FOR [SurName]
GO
ALTER TABLE [dbo].[UserInfoes] ADD  DEFAULT ((0)) FOR [NowCountryCode]
GO
ALTER TABLE [dbo].[UserInfoes] ADD  DEFAULT ((0)) FOR [NowSityCode]
GO
ALTER TABLE [dbo].[UserInfoes] ADD  DEFAULT ((0)) FOR [Sex]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Login]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Settings_Id]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT ((0)) FOR [NotificationType]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT ((0)) FOR [QuickMessage]
GO
ALTER TABLE [dbo].[VideoConferences] ADD  DEFAULT ((0)) FOR [ConferenceCreatorUserId]
GO
ALTER TABLE [dbo].[VideoConferences] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WorkPlaces] ADD  DEFAULT ('') FOR [CompanyTitle]
GO
ALTER TABLE [dbo].[WorkPlaces] ADD  DEFAULT ('') FOR [Position]
GO
ALTER TABLE [dbo].[WorkPlaces] ADD  DEFAULT ((0)) FOR [CountryCode]
GO
ALTER TABLE [dbo].[WorkPlaces] ADD  DEFAULT ((0)) FOR [UntilNow]
GO
ALTER TABLE [dbo].[WorkPlaces] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Start]
GO
ALTER TABLE [dbo].[WorkPlaces] ADD  DEFAULT ((0)) FOR [PersonalRating]
GO
ALTER TABLE [dbo].[WorkPlaces] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [EntryId]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Albums_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK_dbo.Albums_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[Educations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Educations_dbo.UserInfoes_UserInfo_Id] FOREIGN KEY([UserInfo_Id])
REFERENCES [dbo].[UserInfoes] ([Id])
GO
ALTER TABLE [dbo].[Educations] CHECK CONSTRAINT [FK_dbo.Educations_dbo.UserInfoes_UserInfo_Id]
GO
ALTER TABLE [dbo].[Educations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Educations_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Educations] CHECK CONSTRAINT [FK_dbo.Educations_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[FotoComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FotoComments_dbo.Fotoes_Foto_Id] FOREIGN KEY([Foto_Id])
REFERENCES [dbo].[Fotoes] ([Id])
GO
ALTER TABLE [dbo].[FotoComments] CHECK CONSTRAINT [FK_dbo.FotoComments_dbo.Fotoes_Foto_Id]
GO
ALTER TABLE [dbo].[Fotoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Fotoes_dbo.Albums_AlbumID] FOREIGN KEY([AlbumID])
REFERENCES [dbo].[Albums] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fotoes] CHECK CONSTRAINT [FK_dbo.Fotoes_dbo.Albums_AlbumID]
GO
ALTER TABLE [dbo].[LifePlaces]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LifePlaces_dbo.UserInfoes_UserInfo_Id] FOREIGN KEY([UserInfo_Id])
REFERENCES [dbo].[UserInfoes] ([Id])
GO
ALTER TABLE [dbo].[LifePlaces] CHECK CONSTRAINT [FK_dbo.LifePlaces_dbo.UserInfoes_UserInfo_Id]
GO
ALTER TABLE [dbo].[LifePlaces]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LifePlaces_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LifePlaces] CHECK CONSTRAINT [FK_dbo.LifePlaces_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[MemorableEvents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MemorableEvents_dbo.UserInfoes_UserInfo_Id] FOREIGN KEY([UserInfo_Id])
REFERENCES [dbo].[UserInfoes] ([Id])
GO
ALTER TABLE [dbo].[MemorableEvents] CHECK CONSTRAINT [FK_dbo.MemorableEvents_dbo.UserInfoes_UserInfo_Id]
GO
ALTER TABLE [dbo].[MemorableEvents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MemorableEvents_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MemorableEvents] CHECK CONSTRAINT [FK_dbo.MemorableEvents_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.UserInfoes_UserFullInfo_Id] FOREIGN KEY([UserFullInfo_Id])
REFERENCES [dbo].[UserInfoes] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.UserInfoes_UserFullInfo_Id]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.UserSettings_Settings_Id] FOREIGN KEY([Settings_Id])
REFERENCES [dbo].[UserSettings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.UserSettings_Settings_Id]
GO
ALTER TABLE [dbo].[WorkPlaces]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WorkPlaces_dbo.UserInfoes_UserInfo_Id] FOREIGN KEY([UserInfo_Id])
REFERENCES [dbo].[UserInfoes] ([Id])
GO
ALTER TABLE [dbo].[WorkPlaces] CHECK CONSTRAINT [FK_dbo.WorkPlaces_dbo.UserInfoes_UserInfo_Id]
GO
ALTER TABLE [dbo].[WorkPlaces]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WorkPlaces_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[WorkPlaces] CHECK CONSTRAINT [FK_dbo.WorkPlaces_dbo.Users_User_Id]
GO
