@{
    var refLink = string.Empty;
    if (Request.IsSecureConnection)
    { refLink = "https://"; }
    else
    { refLink = "http://"; }
    refLink += Request.Url.Host + ":" + Request.Url.Port;
    refLink += "/guest/index?ref=" + ViewBag.Referal;
}
<link href="~/Styles/private/controlls_style.css" rel="stylesheet" />
<link href="~/Styles/private/payment-style.css" rel="stylesheet" />
<script src="~/Scripts/Private/Profile/payments.js"></script>
<script src="~/Scripts/System/jquery-1.6.4.js"></script>
<script src="~/Scripts/System/jquery-1.6.4.min.js"></script>

<div class="payment-root">
    <div class="gold-heart-container">
        <img class="gold-heart" src="~/Resources/images/gold-heart.svg" />
    </div>
    <div class="close-payment" onclick="document.getElementsByClassName('payment-root')[0].style='display:none'; CloseAlert();">
        <img src="https://res.cloudinary.com/dlk1sqmj4/image/upload/v1578746239/system/pay-close.svg" />
    </div>
    <div class="payment-types">
        <input type="radio" name="payment" class="payment-checkbox" id="yandex-checkbox" />
        <div class="payment-header" id="yandex">
            <div class="header-img-container">
                <img src="~/Resources/images/pay-yandex-money.svg" />
            </div>
            <div class="header-title-container">
                <span class="pay-title">Яндекс.Деньги</span>
            </div>
        </div>

        <input type="radio" name="payment" class="payment-checkbox" id="free-checkbox" checked />
        <div class="payment-header" id="free">
            <div class="header-img-container">
                <img src="https://res.cloudinary.com/dlk1sqmj4/image/upload/v1578744626/system/platezi.svg" />
            </div>

            <div class="header-title-container" id="free-pay-title-container">
                <span class="pay-title">Бесплатно</span>
            </div>
        </div>

        <div class="payment-form" id="yandex-pay-form">
            <div class="form-header-container">
                <span class="form-header-title">Получить VIP за Yandex.Money</span>
            </div>
            <div class="description-container yandex-desc">
                <span class="description">
                    VIP статус будет действовать в течении выбранного вами периода даже при смене города или страны.
                </span>
            </div>
            <div class="yandex-form-container">

                <form method="POST" class="yandex-pay-form" target="_blank" action="https://money.yandex.ru/quickpay/confirm.xml">
                    <input type="hidden" name="receiver" value="4100111807909998">
                    <input type="hidden" id="transactionAmount" name="sum" value="2" data-type="number">
                    <input type="hidden" id="transactionId" name="label" value="">
                    <input type="hidden" id="transactionVipType" name="formcomment" value="">
                    <input type="hidden" name="targets" value="💕 Еще больше общения с friendlynet.ru 💖">
                    <input type="hidden" name="quickpay-form" value="donate">

                    @*<input type="hidden" name="short-dest" value="">
                <input type="hidden" name="comment" value="">*@

                    <input type="hidden" name="need-fio" value="false">
                    <input type="hidden" name="need-email" value="false">
                    <input type="hidden" name="need-phone" value="false">
                    <input type="hidden" name="need-address" value="false">

                    <div class="payment-yandex-types">
                        <div class="payment-yandex-types-container">
                            <div class="inner-yp-container">
                                <div class="img-pay-type-comtainer img-pay-left" title="Оплата через карту" onclick="changeYandexPayType('#yandex-pay-card', '.img-pay-left')">
                                    <img class="yandex-payment-type" src="~/Resources/images/pay-credit-card.svg" />
                                </div>
                                <div class="img-pay-type-comtainer img-pay-center" title="Оплата через Яндекс кошелек" onclick="changeYandexPayType('#yandex-pay-money', '.img-pay-center')">
                                    <img class="yandex-payment-type" src="~/Resources/images/pay-yandex-money.svg" />
                                </div>
                                <div class="img-pay-type-comtainer img-pay-right" title="Оплата через баланс телефона" onclick="changeYandexPayType('#yandex-pay-mobile', '.img-pay-right')">
                                    <img class="yandex-payment-type" src="~/Resources/images/pay-mobile-phone.svg" />
                                </div>
                            </div>
                        </div>
                        <input hidden id="yandex-pay-card" class="input-pay" type="radio" name="paymentType" value="AC">
                        <input hidden id="yandex-pay-money" class="input-pay" type="radio" name="paymentType" value="PC">
                        <input hidden id="yandex-pay-mobile" class="input-pay" type="radio" name="paymentType" value="MC">
                    </div>
                    <input type="submit" id="getvip" disabled class="button" value="Активировать" onclick="startTransaction()">
                </form>
                <div class="price-container">
                    <div class="vip-types-container">
                        <table class="payment-price-table">
                            <tbody>
                                <tr>
                                    <th>
                                        <div class="table-header"></div>
                                    </th>
                                    <th>
                                        <div class="table-header">
                                            <img src="https://res.cloudinary.com/dlk1sqmj4/image/upload/v1579033536/system/time.svg">
                                            <span class="table-header-span">Длительность VIP статуса</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="table-header">
                                            <img src="~/Resources/images/russian-ruble-ico.svg">
                                            <span class="table-header-span">Стоимость в рублях</span>
                                        </div>
                                    </th>
                                </tr>
                                <tr onclick="changeVipPeriod(1)" onmouseover="hoverVipPeriod(1)">
                                    <td>
                                        <input type="radio" class="fr" name="vipperiod">
                                        <div class="circle">
                                            <div class="circle--inner circle--inner__1"></div>
                                            <div class="circle--inner circle--inner__2"></div>
                                            <div class="circle--inner circle--inner__3"></div>
                                            <div class="circle--inner circle--inner__4"></div>
                                            <div class="circle--inner circle--inner__5"></div>
                                            <div class="circle--outer"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <img class="heart-pay left-heart" src="~/Resources/images/heart.svg" />
                                        <span>1 час</span>
                                        <img class="heart-pay right-heart" src="~/Resources/images/heart.svg" />
                                    </td>
                                    <td><span>50 р</span></td>
                                </tr>
                                <tr onclick="changeVipPeriod(2)" onmouseover="hoverVipPeriod(2)">
                                    <td>
                                        <input type="radio" class="fr" name="vipperiod">
                                        <div class="circle">
                                            <div class="circle--inner circle--inner__1"></div>
                                            <div class="circle--inner circle--inner__2"></div>
                                            <div class="circle--inner circle--inner__3"></div>
                                            <div class="circle--inner circle--inner__4"></div>
                                            <div class="circle--inner circle--inner__5"></div>
                                            <div class="circle--outer"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <img class="heart-pay" src="~/Resources/images/heart.svg" />
                                        <img class="heart-pay left-heart" src="~/Resources/images/heart.svg" />
                                        <span>1 день</span>
                                        <img class="heart-pay right-heart" src="~/Resources/images/heart.svg" />
                                        <img class="heart-pay" src="~/Resources/images/heart.svg" />
                                    </td>
                                    <td><span>300 р</span></td>
                                </tr>
                                <tr onclick="changeVipPeriod(3)" onmouseover="hoverVipPeriod(3)">
                                    <td>
                                        <input type="radio" class="fr" name="vipperiod">
                                        <div class="circle">
                                            <div class="circle--inner circle--inner__1"></div>
                                            <div class="circle--inner circle--inner__2"></div>
                                            <div class="circle--inner circle--inner__3"></div>
                                            <div class="circle--inner circle--inner__4"></div>
                                            <div class="circle--inner circle--inner__5"></div>
                                            <div class="circle--outer"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <img class="heart-pay" src="~/Resources/images/heart.svg" />
                                        <img class="heart-pay" src="~/Resources/images/heart.svg" />
                                        <img class="heart-pay left-heart" src="~/Resources/images/heart.svg" />
                                        <span>3 дня</span>
                                        <img class="heart-pay right-heart" src="~/Resources/images/heart.svg" />
                                        <img class="heart-pay" src="~/Resources/images/heart.svg" />
                                        <img class="heart-pay" src="~/Resources/images/heart.svg" />
                                    </td>
                                    <td><span>500 р</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="payment-form" id="free-pay-form">
            <div class="form-header-container">
                <span class="form-header-title">Пригласите друзей и получите VIP бесплатно</span>
            </div>
            <div class="description-container free-desc">
                <span class="description">
                    Делитесь ссылкой на наше приложение в соцсетях и с друзьями что бы получить VIP совершенно бесплатно.
                    Чем больше больше новых пользователей вы приведете, тем дольше будет действовать ваш статус.
                </span>
            </div>
            <div class="referal-div-container">
                <div class="referal-container">
                    <div class="you-url-title">
                        <span>Ваша ссылка :</span>
                    </div>
                    <div class="referal-url-container">
                        <input style="font-size:14px" type="text" value="@refLink" disabled id="referal" />
                    </div>
                    <div class="copy-img-container" title="Копировать ссылку" onclick="navigator.clipboard.writeText(document.getElementById('referal').value);document.getElementById('url-copied-text').innerHTML = 'Ссылка скопированна'; ">
                        <img src="https://res.cloudinary.com/dlk1sqmj4/image/upload/v1578751517/system/copy-img.svg" />
                    </div>
                </div>
                <div class="url-copied-container"><span id="url-copied-text"></span></div>
            </div>
            <div class="vip-types-container">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                <div class="table-header">
                                    <img src="https://res.cloudinary.com/dlk1sqmj4/image/upload/v1579033536/system/time.svg" />
                                    <span class="table-header-span">Длительность VIP статуса</span>
                                </div>
                            </th>
                            <th>
                                <div class="table-header">
                                    <img src="https://res.cloudinary.com/dlk1sqmj4/image/upload/v1579034110/system/invitation-friend.svg" />
                                    <span class="table-header-span">Друзей зарегестрированно</span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <span>1 час</span>
                            </td>
                            <td><span>3 новых</span></td>
                        </tr>
                        <tr>
                            <td>
                                <img class="heart-pay left-heart" src="~/Resources/images/heart.svg" />
                                <span>3 часа</span>
                                <img class="heart-pay right-heart" src="~/Resources/images/heart.svg" />
                            </td>
                            <td><span>5 новых</span></td>
                        </tr>
                        <tr>
                            <td>
                                <img class="heart-pay" src="~/Resources/images/heart.svg" />
                                <img class="heart-pay left-heart" src="~/Resources/images/heart.svg" />
                                <span>24 часа</span>
                                <img class="heart-pay right-heart" src="~/Resources/images/heart.svg" />
                                <img class="heart-pay" src="~/Resources/images/heart.svg" />
                            </td>
                            <td><span>7 новых</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*
    test payment users :
    ryazanoviliusha@yandex.ru - 4100110566633193
    friendlynet.ru@yandex.ru - 4100111807909998
*@