@using Slug.Extensions

<div class="img_frame" style="display:inline-block;cursor:pointer;margin:10">
    <p><b>@ViewBag.titl</b></p>
    <p><img src="@ViewBag.fullFoto" />
    <button onclick="rollUpFoto('f_@ViewBag.fotoId')">@Html.Translate("Button_Cancel")</button></p>
    <p><span>@ViewBag.comm</span></p>
</div>