<div class="img_frame" style="display:inline-block;cursor:pointer;margin:10">
    <p><b>@ViewBag.titl</b></p>
    <p><img src="@ViewBag.fullFoto"/><button onclick="rollUpFoto('f_@ViewBag.fotoId')">Close</button></p>
    <p><span>@ViewBag.comm</span></p>
</div>