
<form action="" id="upload_foto_form_@ViewBag.album">
    <p><span>Photo Title </span><input type="text" name="Title" /></p>
    <p><span>Photo Comment </span><input type="text" name="AuthorDescription" /></p>
    <p><span>Select Images </span><input type="file" enctype="multipart/form-data" id="input_photo" accept=".jpg, .bmp, .png" required multiple />
    <span id="foto_not_upload" style="color:red; display:none">* Field requred</span></p>
</form>
<button id="close_album_form" onclick="close_form('upload_foto_div_'@ViewBag.album', 'create_new_album_button', 'inline-block')">Close</button>
<button onclick="uploadFotoToAlbum('@ViewBag.album')">Create</button>