@model Slug.Model.Users.FriendModel
@using Slug.Extensions

<div class="invitation_user" onclick="redirectToUser(@Model.UserId)">
    <img src="@Model.AvatarPath" />
    <h2>@Model.Name @Model.SurName</h2>
</div>