#circular3dG {
    position: relative;
    width: 46px;
    height: 46px;
    margin: auto;
    margin-top:20px;
}

.circular3dG {
    position: absolute;
    background-color: rgba(149,223,228,0.89);
    width: 13px;
    height: 13px;
    border-radius: 11px;
    animation-name: bounce_circular3dG;
    animation-duration: 0.622s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#circular3d_1G {
    left: 19px;
    top: 3px;
    animation-delay: 0.2295s;
}

#circular3d_2G {
    left: 29px;
    top: 11px;
    animation-delay: 0.316s;
}

#circular3d_3G {
    left: 34px;
    top: 21px;
    animation-delay: 0.3925s;
}

#circular3d_4G {
    left: 32px;
    top: 31px;
    animation-delay: 0.469s;
}

#circular3d_5G {
    left: 19px;
    top: 34px;
    animation-delay: 0.5455s;
}

#circular3d_6G {
    left: 4px;
    top: 22px;
    animation-delay: 0.622s;
}

#circular3d_7G {
    left: 0px;
    top: 6px;
    animation-delay: 0.6985s;
}

#circular3d_8G {
    left: 8px;
    top: 0px;
    animation-delay: 0.775s;
}



@keyframes bounce_circular3dG {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(.3)
    }
}
