
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Logo.cshtml";
}
<h2>Index</h2>
<div id="register_lnk">
    <p>
        <a href="~/guest/register">register</a>
    </p>
</div>

<div id="login_lnk">
    <p>
        <a href="~/guest/login">log in</a>
    </p>
</div>
