
@{
    Layout = "~/Views/Shared/guest.cshtml";
}
<div class="content">
    @if (ViewBag.IsActive)
    {
        @RenderPage("~/Views/Shared/reset_active.cshtml")
    }
    else
    {
        @RenderPage("~/Views/Shared/reset_invalid.cshtml")
    }
</div>