@{
    //ViewBag.Title = "private_view";
    Layout = "~/Views/Shared/logo.cshtml";
}
<head>
    <script src="~/Scripts/BigInteger.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/Scripts/notificationHub.js"></script>
</head>
<div id="notification_div"></div>
<nav id="navigation_bar">
    <div>
        <a href="~/private/cnv">messages</a>
    </div>
    <div>
        <a href="~/private/crypto_cnv">crypto chat</a>
    </div>
    <div>
        <a href="~/private/invite_video_conversation">video chat</a>
    </div>

    <div>
        <a href="~/private/contacts">contacts</a>
    </div>
    <div>
        <a href="~/private/settings">settings</a>
    </div>
    <div>
        <a href="~/private/search">search</a>
    </div>
    <div>
        <a href="~/private/logout">logout</a>
    </div>
</nav>
@{
    @RenderBody();
}