<nav id="menu">
    <a href="#main" id="main">Главная</a>
    <a href="#functions" id="function_main_menu">Возможности</a>
    <a href="#help">Справка (FAQ)</a>
    <a onclick="show_feedback_form()">Обратная связь</a>
    <a onclick="scrolling('reg_log', -100), show_register()">Зарегестрироваться</a>
    <a onclick="scrolling('reg_log', -100), show_login()">Войти</a>
</nav>