<nav id="menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <a itemprop="text" href="./#main" id="main" target="_blank">Главная</a>
    <a itemprop="text" href="./#functions" target="_blank">Возможности</a>
    <a itemprop="text" href="./#help" target="_blank">Справка</a>
    <a itemprop="text" onclick="show_feedback_form()">Обратная связь</a>
    <a itemprop="text" href="./#reg_log" target="_blank">Зарегистрироваться</a>
    <a itemprop="text" href="./#reg_log" target="_blank">Войти</a>
</nav>