<nav id="menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <a itemprop="text" href="#overlay" id="main">Главная</a>
    <a itemprop="text" onclick="scrolling('functions', 70)" id="function_main_menu">Возможности</a>
    <a itemprop="text" onclick="scrolling('help', 70)">Справка</a>
    <a itemprop="text" onclick="show_feedback_form()">Обратная связь</a>
    <a itemprop="text" onclick="scrolling('overlay'), show_register()">Зарегистрироваться</a>
    <a itemprop="text" onclick="scrolling('overlay'), show_login()">Войти</a>
</nav>