<div class="set_new_password">
    <p>Придумайте новый пароль</p>
    <form>
        <div class="field-wrap">
            <input type="password" placeholder="Новый пароль" required autocomplete="off" />
        </div>
        <div class="field-wrap">
            <input type="password" placeholder="Новый пароль еще раз" required autocomplete="off" />
        </div>
        <div class="field-wrap">
            <input type="button" class="button button-block" value="Сменить пароль" />
        </div>
    </form>
</div>
